<div
	class="flex items-center justify-between rounded-[20px] bg-orange-50 px-16 py-20 text-dark-100 2xl:px-32"
>
	<div class="w-3/5 flex-col space-y-10">
		<p class="w-10/12 text-3xl font-bold leading-10 2xl:text-5xl">
			Let's plan together to achieve your study goals.
		</p>
		<p class="w-10/12 text-lg font-normal 2xl:text-xl">
			ไม่มีอะไรที่เป็นอุปสรรคในการบรรลุเป้าหมายการเรียนของคุณ ด้วย KMITL
			StudyMate และตัวช่วยวางแผนการเรียนของเรา
			คุณจะรู้สึกถึงความเป็นระเบียบและมีแรงจูงใจมากขึ้นในการศึกษา
		</p>
		<button
			class="rounded-full bg-main-100 px-6 py-4 text-xl font-medium text-white hover:bg-main-120"
		>
			Get Started
		</button>
	</div>
	<img class="w-2/5" src="graduate-girl.png" alt="graduate-girl" />
</div>
