<div class="py-20 px-32 flex justify-between bg-orange-50 rounded-2xl text-dark-100 items-center">
    <div class="flex-col space-y-10">
        <p class="text-5xl font-bold w-4/5 leading-normal">Let's plan together to achieve your study goals.</p>
        <p class="text-xl font-normal w-9/12">ไม่มีอะไรที่เป็นอุปสรรคในการบรรลุเป้าหมายการเรียนของคุณ ด้วย KMITL StudyMate และตัวช่วยวางแผนการเรียนของเรา คุณจะรู้สึกถึงความเป็นระเบียบและมีแรงจูงใจมากขึ้นในการศึกษา</p>
        <button mat-flat-button>Get Started</button>
    </div>
    <img src="graduate-girl.png" alt="graduate-girl">
</div>
