<div class="flex items-center justify-between rounded-[20px] bg-orange-50 px-16 py-20 text-dark-100 2xl:px-32">
	<div class="w-3/5 flex-col space-y-10">
		<p class="w-10/12 text-3xl font-bold leading-10 2xl:text-5xl">จัดการแผนการเรียนของคุณได้อย่างง่ายดาย</p>
		<p class="w-10/12 text-lg font-normal 2xl:text-xl">KMITL StudyMate ช่วยให้คุณค้นหารายวิชา ดูรีวิวจากเพื่อน ๆ และตรวจสอบโครงสร้างหลักสูตรได้ง่ายขึ้น ไม่ต้องสับสนกับแผนการเรียนอีกต่อไป!</p>
		<div>
			<sdm-button-link
				link="/my-subject"
				text="เริ่มต้นใช้งานเลย !"
				textSize="text-xl"
				fontWeight="font-medium"
				textColor="text-light"
				textColorHover="text-light"
				backgroundColor="bg-main-100"
				backgroundColorHover="hover:bg-main-120"
				borderRadius="rounded-full"
				width="w-fit"
				padding="px-6 py-4"></sdm-button-link>
		</div>
	</div>
	<img class="w-2/5" src="images/home/graduate-girl.png" alt="graduate-girl" />
</div>
