<h1 class="mt-5 text-3xl font-semibold">จัดการหลักสูตร</h1>
<hr class="my-4" />

<sdm-base-modal
	#createFacultyModal
	modalId="createFaculty"
	header="สร้างคณะใหม่"
	(confirmEvent)="onConfirmCreate()"
>
	<form [formGroup]="facultyCreateForm">
		<div class="input-primary mb-5">
			<label for="nameTh">ชื่อคณะภาษาไทย</label>
			<input
				type="text"
				id="nameTh"
				formControlName="nameTh"
				placeholder="ชื่อคณะภาษาไทย"
				required
			/>
		</div>
		<div class="input-primary mb-5">
			<label for="nameEn">ชื่อคณะภาษาอังกฤษ</label>
			<input
				type="text"
				id="nameEn"
				formControlName="nameEn"
				placeholder="ชื่อคณะภาษาอังกฤษ"
				required
			/>
		</div>
	</form>
</sdm-base-modal>
<sdm-base-modal
	#editFacultyModal
	modalId="editFaculty"
	header="แก้ไขคณะ"
	(confirmEvent)="onConfirmEdit()"
>
	<form [formGroup]="facultyEditForm">
		<div class="input-primary mb-5">
			<label for="nameTh">ชื่อคณะภาษาไทย</label>
			<input
				type="text"
				id="nameTh"
				formControlName="nameTh"
				placeholder="ชื่อคณะภาษาไทย"
				required
			/>
		</div>
		<div class="input-primary mb-5">
			<label for="nameEn">ชื่อคณะภาษาอังกฤษ</label>
			<input
				type="text"
				id="nameEn"
				formControlName="nameEn"
				placeholder="ชื่อคณะภาษาอังกฤษ"
				required
			/>
		</div>
	</form>
</sdm-base-modal>

<div>
	<h1 class="text-2xl font-semibold">เลือกคณะ</h1>
	<h2>คณะทั้งหมด</h2>
	<div *ngIf="isLoading" class="my-2 text-center">
		<div class="spinner-border animate-spin"></div>
	</div>
	<div *ngIf="!isLoading">
		<div *ngIf="faculties.length === 0" class="my-2 border p-5">
			<div class="text-center">ไม่มีผลลัพธ์</div>
		</div>
		<div *ngIf="faculties.length > 0" class="my-2 border p-5">
			<ul class="flex flex-col gap-1">
				<li
					*ngFor="let faculty of faculties"
					class="flex items-center justify-between"
				>
					<span
						(click)="navigateToDepartment(faculty.id)"
						class="cursor-pointer text-lg hover:text-main-100"
					>
						{{ faculty.name_th }} · {{ faculty.name_en }}
					</span>
					<sdm-base-button
						icon="pen"
						text="แก้ไข"
						textColor="text-white"
						backgroundColor="bg-main-100"
						backgroundColorHover="bg-main-120"
						(clickEvent)="onEditFaculty(faculty)"
					></sdm-base-button>
				</li>
			</ul>
		</div>
	</div>
	<sdm-base-button
		icon="plus"
		text="สร้างคณะใหม่"
		textColor="text-white"
		backgroundColor="bg-main-100"
		backgroundColorHover="bg-main-120"
		(clickEvent)="onCreateFaculty()"
	></sdm-base-button>
</div>
