<div class="flex w-full gap-x-5">
	<sdm-filter-bar class="flex-none"></sdm-filter-bar>
	<div class="flex w-full flex-col">
		<div class="grid w-full flex-none grid-cols-1 gap-3">
			<div class="text-xl font-semibold">รายวิชาเรียน</div>
			<div class="flex flex-wrap justify-between gap-y-3">
				<sdm-select
					defaultLabel="ปีการศึกษา"
					SelectName="selectedYear"
					[listOptions]="yearsList"
					class="w-40"
					(selectedValue)="handleSelectChange('selectedYear',$event)"
				></sdm-select>
				<sdm-select
					defaultLabel="ภาคการศึกษา"
					SelectName="selectedSemester"
					[listOptions]="semesterList"
					class="w-40"
					(selectedValue)="handleSelectChange('selectedSemester',$event)"
				></sdm-select>
				<sdm-select
					defaultLabel="ชั้นปี"
					SelectName="selectedClassYear"
					[listOptions]="classYearList"
					class="w-24"
					(selectedValue)="handleSelectChange('selectedClassYear',$event)"
				></sdm-select>
				<sdm-select
					defaultLabel="คณะ"
					SelectName="selectedFaculty"
					[listOptions]="facultyList"
					class="w-48"
					(selectedValue)="handleSelectChange('selectedFaculty',$event)"
				></sdm-select>
				<sdm-select
					defaultLabel="ภาควิชา"
					SelectName="selectedDepartment"
					[listOptions]="departmentList"
					class="w-48"
					(selectedValue)="handleSelectChange('selectedDepartment',$event)"
				></sdm-select>
				<sdm-select
					defaultLabel="หลักสูตร"
					SelectName="selectedCurriculum"
					[listOptions]="curriculumList"
					class="w-64"
					(selectedValue)="handleSelectChange('selectedCurriculum',$event)"
				></sdm-select>
			</div>
			<!-- May เพิ่มมา -->
			<sdm-search-bar
				(searchedSubjectCardDataList)="getFilterSubjectCardDataList($event)"
			></sdm-search-bar>
			<!-- May เพิ่มมา -->
		</div>
		<div
			class="flex w-full flex-1 flex-col items-center justify-start gap-3 text-dark-75"
			*ngIf="isSelectAllDropdown && (paginatedItems.length > 0)"
		>
			<!-- Pagination -->
			<sdm-pagination
				(pageChange)="changePage($event)"
				[totalItems]="subjectCardTotal"
				[itemsPerPage]="itemsPerPage"
				[currentPage]="currentPage"
				class="mt-4"
			></sdm-pagination>
			<!-- Subject Component -->
			<div class="grid w-full grid-cols-1 gap-4">
				<ng-container
					*ngFor="let data of paginatedItems; let i = index"
					class="grid grid-cols-1 gap-4"
				>
					<sdm-subject-cpn
						[subjectCardData]="data"
						[index]=" i + 1 + (currentPage - 1) * itemsPerPage"
					></sdm-subject-cpn>
				</ng-container>
			</div>

			<!-- Pagination -->
			<sdm-pagination
				(pageChange)="changePage($event)"
				[totalItems]="subjectCardTotal"
				[itemsPerPage]="itemsPerPage"
				[currentPage]="currentPage"
			></sdm-pagination>
		</div>

		<!-- คำแนะนำการดูรายวิชา -->
		<div
			class="flex w-full flex-1 flex-col items-center justify-center gap-3 text-center text-dark-75"
		>
			<div class="flex flex-col gap-y-4">
				<div *ngIf="!selectedYear">
					โปรดเลือกปีการศึกษา เพื่อดูรายวิชา
				</div>
				<div *ngIf="!selectedSemester">
					โปรดเลือกภาคการศึกษา เพื่อดูรายวิชา
				</div>
				<div *ngIf="selectedClassYear === undefined">
					โปรดเลือกชั้นปี เพื่อดูรายวิชา
				</div>
				<div *ngIf="!selectedFaculty">โปรดเลือกคณะ เพื่อดูรายวิชา</div>
				<div *ngIf="!selectedDepartment">
					โปรดเลือกภาควิชา เพื่อดูรายวิชา
				</div>
				<div *ngIf="!selectedCurriculum">
					โปรดเลือกหลักสูตร เพื่อดูรายวิชา
				</div>
				<div
					*ngIf="isSelectAllDropdown && (paginatedItems.length === 0)"
				>
					ขออภัย เราไม่พบรายวิชาสำหรับการค้นหานี้เลย
				</div>
			</div>
		</div>
	</div>
</div>
<sdm-subject-added-modal
	modalID="subject-added-modal"
	headerModal="รายวิชาที่เพิ่ม"
	[subjects_added]="subjects_added"
>
</sdm-subject-added-modal>
