<div class="mb-3 flex">
	<sdm-base-button
		icon="right-to-bracket"
		text="ย้อนกลับ"
		textColor="text-light"
		textColorHover="hover:text-light"
		backgroundColor="bg-primary-300"
		backgroundColorHover="hover:bg-primary-400"
		(clickEvent)="navigateToProgram()"></sdm-base-button>
</div>

<h1 class="mt-5 text-3xl font-semibold">{{ program?.name_th }}</h1>
<h2 class="text-xl opacity-50">{{ program?.name_en }}</h2>

<hr class="my-4" />

<sdm-base-modal #createCurriculumModal modalId="createCurriculum" header="สร้างหลักสูตรใหม่" (confirmEvent)="onConfirmCreate()">
	<form [formGroup]="curriculumCreateForm">
		<div class="input-primary mb-5">
			<label for="year">ปีหลักสูตร</label>
			<input type="number" id="year" formControlName="year" placeholder="ปีหลักสูตร" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameTh">ชื่อหลักสูตรภาษาไทย</label>
			<input type="text" id="nameTh" formControlName="nameTh" placeholder="ชื่อหลักสูตรภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameEn">ชื่อหลักสูตรภาษาอังกฤษ</label>
			<input type="text" id="nameEn" formControlName="nameEn" placeholder="ชื่อหลักสูตรภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<sdm-base-modal #editCurriculumModal modalId="editCurriculum" header="แก้ไขหลักสูตร" (confirmEvent)="onConfirmEdit()">
	<form [formGroup]="curriculumEditForm">
		<div class="input-primary mb-5">
			<label for="year">ปีหลักสูตร</label>
			<input type="number" id="year" formControlName="year" placeholder="ปีหลักสูตร" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameTh">ชื่อหลักสูตรภาษาไทย</label>
			<input type="text" id="editNameTh" formControlName="nameTh" placeholder="ชื่อหลักสูตรภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameEn">ชื่อหลักสูตรภาษาอังกฤษ</label>
			<input type="text" id="editNameEn" formControlName="nameEn" placeholder="ชื่อหลักสูตรภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<div>
	<h1 class="text-2xl font-semibold">เลือกหลักสูตร</h1>
	<h2>หลักสูตรทั้งหมด</h2>
	<div *ngIf="isLoading" class="my-2 text-center">
		<div class="spinner-border animate-spin"></div>
	</div>
	<form [formGroup]="cloneCurriculumForm">
		<div class="input-primary mb-5">
			<label for="cloneCurriculum">คัดลอกหลักสูตร</label>
			<select id="cloneCurriculum" formControlName="cloneCurriculum" required>
				<option value="" disabled selected>กรุณาเลือกหลักสูตรที่ต้องการคัดลอก</option>
				<option *ngFor="let curriculum of curriculums" [value]="curriculum.curriculum_group?.id">({{ curriculum.id }}) {{ curriculum.name_th }}</option>
			</select>
		</div>
		<sdm-base-button
			icon="pen"
			text="คัดลอกหลักสูตรที่เลือก"
			textColor="text-light"
			textColorHover="hover:text-light"
			backgroundColor="bg-warning-300"
			backgroundColorHover="hover:bg-warning-400"
			(clickEvent)="onCloneCurriculumConfirm()"></sdm-base-button>
	</form>
	<div *ngIf="!isLoading">
		<div *ngIf="curriculums.length === 0" class="my-2 border p-5">
			<div class="text-center">ไม่มีผลลัพธ์</div>
		</div>
		<div *ngIf="curriculums.length > 0" class="my-2 border p-5">
			<ul class="flex flex-col gap-2">
				<li *ngFor="let curriculum of curriculums" class="flex items-center justify-between">
					<div (click)="navigateToCurriculumGroup(curriculum.id)" class="cursor-pointer text-lg hover:text-primary-300">
						<div class="text-base font-semibold opacity-75">หลักสูตรปี พ.ศ. {{ curriculum.year }}</div>
						<div class="font-semibold">{{ curriculum.name_th }}</div>
						<div class="text-sm opacity-50">{{ curriculum.name_en }}</div>
					</div>
					<sdm-base-button
						icon="pen"
						text="แก้ไข"
						textColor="text-light"
						textColorHover="hover:text-light"
						backgroundColor="bg-warning-300"
						backgroundColorHover="hover:bg-warning-400"
						(clickEvent)="onEditCurriculum(curriculum)"></sdm-base-button>
				</li>
			</ul>
		</div>
	</div>
	<sdm-base-button
		icon="plus"
		text="สร้างหลักสูตรใหม่"
		textColor="text-light"
		textColorHover="hover:text-light"
		backgroundColor="bg-primary-300"
		backgroundColorHover="hover:bg-primary-400"
		(clickEvent)="onCreateCurriculum()"></sdm-base-button>
</div>
