<div class="mb-3 flex">
	<sdm-base-button
		icon="right-to-bracket"
		text="ย้อนกลับ"
		textColor="text-light"
		textColorHover="hover:text-light"
		backgroundColor="bg-primary-300"
		backgroundColorHover="hover:bg-primary-400"
		(clickEvent)="navigateToProgram()"></sdm-base-button>
</div>

<h1 class="mt-5 text-3xl font-semibold">{{ program?.name_th }}</h1>
<h2 class="text-xl opacity-50">{{ program?.name_en }}</h2>

<hr class="my-4" />

<sdm-base-modal #createCurriculumModal modalId="createCurriculum" header="สร้างหลักสูตรใหม่" (confirmEvent)="onConfirmCreate()">
	<form [formGroup]="curriculumCreateForm">
		<div class="input-primary mb-5">
			<label for="year">ปีหลักสูตร</label>
			<input type="number" id="year" formControlName="year" placeholder="ปีหลักสูตร" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameTh">ชื่อหลักสูตรภาษาไทย</label>
			<input type="text" id="nameTh" formControlName="nameTh" placeholder="ชื่อหลักสูตรภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameEn">ชื่อหลักสูตรภาษาอังกฤษ</label>
			<input type="text" id="nameEn" formControlName="nameEn" placeholder="ชื่อหลักสูตรภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<sdm-base-modal #editCurriculumModal modalId="editCurriculum" header="แก้ไขหลักสูตร" (confirmEvent)="onConfirmEdit()">
	<form [formGroup]="curriculumEditForm">
		<div class="input-primary mb-5">
			<label for="year">ปีหลักสูตร</label>
			<input type="number" id="year" formControlName="year" placeholder="ปีหลักสูตร" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameTh">ชื่อหลักสูตรภาษาไทย</label>
			<input type="text" id="editNameTh" formControlName="nameTh" placeholder="ชื่อหลักสูตรภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameEn">ชื่อหลักสูตรภาษาอังกฤษ</label>
			<input type="text" id="editNameEn" formControlName="nameEn" placeholder="ชื่อหลักสูตรภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<div class="flex flex-col gap-4">
	<div class="flex flex-col gap-2">
		<sdm-base-button
			icon="plus"
			text="สร้างหลักสูตรใหม่"
			textColor="text-light"
			textColorHover="hover:text-light"
			backgroundColor="bg-primary-300"
			backgroundColorHover="hover:bg-primary-400"
			(clickEvent)="onCreateCurriculum()"></sdm-base-button>

		<form [formGroup]="cloneCurriculumForm">
			<div class="flex w-full gap-2">
				<div class="input-primary w-3/4">
					<!-- <label for="cloneCurriculum">คัดลอกหลักสูตร</label> -->
					<select id="cloneCurriculum" formControlName="cloneCurriculum" required class="h-12">
						<option value="" disabled selected>กรุณาเลือกหลักสูตรที่ต้องการคัดลอก</option>
						<option *ngFor="let curriculum of curriculumsAll" [value]="curriculum.curriculum_group?.id">({{ curriculum.id }}) {{ curriculum.name_th }}</option>
					</select>
				</div>
				<div class="w-1/4">
					<sdm-base-button
						icon="pen"
						text="คัดลอกหลักสูตรที่เลือก"
						textColor="text-light"
						textColorHover="hover:text-light"
						backgroundColor="bg-warning-300"
						backgroundColorHover="hover:bg-warning-400"
						(clickEvent)="onCloneCurriculumConfirm()"></sdm-base-button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<h1 class="text-2xl font-semibold">เลือกหลักสูตร</h1>
		<h2>หลักสูตรทั้งหมด</h2>
		<div *ngIf="isLoading" class="my-2 text-center">
			<div class="spinner-border animate-spin"></div>
		</div>

		<div *ngIf="!isLoading">
			<div *ngIf="curriculums.length === 0" class="my-2 rounded-xl border p-5">
				<div class="text-center">ไม่มีผลลัพธ์</div>
			</div>
			<div *ngIf="curriculums.length > 0" class="my-2 rounded-xl border p-5">
				<ul class="flex flex-col gap-2 divide-y">
					<li *ngFor="let curriculum of curriculums" class="flex items-center justify-between py-4">
						<div (click)="navigateToCurriculumGroup(curriculum.id)" class="cursor-pointer text-lg hover:text-primary-300">
							<div class="text-base font-semibold opacity-75">หลักสูตรปี พ.ศ. {{ curriculum.year }}</div>
							<div class="font-semibold">{{ curriculum.name_th }}</div>
							<div class="text-sm opacity-50">{{ curriculum.name_en }}</div>
						</div>
						<div class="flex flex-row gap-2">
							<label class="inline-flex w-full cursor-pointer items-center justify-center gap-x-2 overflow-x-auto rounded-xl border border-gray-300 p-1.5">
								<input type="checkbox" class="peer sr-only" (change)="checkShowCurriculum()" [checked]="" />
								<div
									class="peer relative h-7 w-14 rounded-full bg-gray-200 after:absolute after:start-[4px] after:top-0.5 after:h-6 after:w-6 after:rounded-full after:border after:border-gray-200 after:bg-white after:transition-all after:content-[''] peer-checked:bg-main-100 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rtl:peer-checked:after:-translate-x-full"></div>
								<div class="mr-2 text-sm font-medium text-dark-100">แสดงในระบบ</div>
							</label>

							<sdm-base-button
								icon="pen"
								text="แก้ไข"
								textColor="text-light"
								textColorHover="hover:text-light"
								backgroundColor="bg-warning-300"
								backgroundColorHover="hover:bg-warning-400"
								(clickEvent)="onEditCurriculum(curriculum)"></sdm-base-button>
							<sdm-base-button
								icon="trash"
								text="ลบ"
								textColor="text-light"
								textColorHover="hover:text-light"
								backgroundColor="bg-danger-300"
								backgroundColorHover="hover:bg-danger-400"
								(clickEvent)="onDeleteCurriculum(curriculum)"></sdm-base-button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
