<div
	[id]="modalID"
	tabindex="-1"
	class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
>
	<div class="relative max-h-full w-full max-w-md p-4">
		<div class="relative rounded-[20px] bg-white shadow">
			<button
				type="button"
				class="absolute end-2.5 top-3 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg text-sm text-dark-100 text-main-50 hover:bg-main-10 hover:text-dark-100"
				[attr.data-modal-hide]="modalID"
			>
				<sdm-icon
					icon="xmark"
					class="-mb-1 text-lg text-main-50"
				></sdm-icon>
			</button>
			<div class="p-8 text-center">
				<sdm-icon
					icon="circle-exclamation"
					class="text-5xl text-red-400"
				>
				</sdm-icon>
				<h3 class="my-8 text-lg font-normal text-dark-100">
					{{ text }}
				</h3>
				<button
					[attr.data-modal-hide]="modalID"
					type="button"
					class="inline-flex items-center rounded-lg bg-red-400 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-500 focus:outline-none focus:ring-4"
					(click)="deleteTranscriptData()"
				>
					ใช่, ฉันมั่นใจ
				</button>
				<button
					[attr.data-modal-hide]="modalID"
					type="button"
					class="ms-3 rounded-lg border border-main-25 bg-white px-5 py-2.5 text-sm font-medium text-dark-100 hover:bg-main-5"
				>
					ไม่, ยกเลิก
				</button>
			</div>
		</div>
	</div>
</div>
