{
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"quoteProps": "consistent",
	"printWidth": 180,
	"bracketSameLine": true
}
