<div class="flex flex-col gap-y-4 rounded-[20px] border border-main-50 px-5 py-4">
	<div>ลงไปแล้ว</div>
	<div class="flex h-44 w-44 flex-col space-y-2 self-center rounded-full bg-main-15 p-12">
		<div class="mt-1 text-center text-5xl font-medium text-[#14b8a6]">
			{{ totalCompleted }}
		</div>
		<div class="text-dark-100 text-center text-base font-normal">หน่วยกิต</div>
	</div>
	<div class="grid grid-cols-1 justify-items-center gap-y-2">
		<!-- <div>
			หน่วยกิตทั้งหมด <span class="me-2 font-semibold text-primary-300">{{ totalCredit }}</span
			><span> หน่วยกิต</span>
		</div>
		<div>
			ขาดอีก <span class="me-2 font-semibold text-red-400">{{ totalRemaining }}</span
			><span> หน่วยกิต</span>
		</div> -->
		<!-- <div>
			<span class="me-2 font-semibold text-primary-300">{{ totalCredit }}</span
			><span>หน่วยกิต</span>
		</div>
		<div>
			<span class="me-2 font-semibold text-red-400">{{ totalRemaining }}</span
			><span>หน่วยกิต</span>
		</div> -->
	</div>
	<table class="mx-2">
		<tr>
			<td class="w-3/5">หน่วยกิตทั้งหมด</td>
			<td class="flex w-1/5 justify-center font-semibold text-primary-300">{{ totalCredit }}</td>
			<td class="w-1/5">หน่วยกิต</td>
		</tr>
		<tr>
			<td class="w-3/5">หน่วยกิตที่ขาด</td>
			<td class="flex w-1/5 justify-center font-semibold text-red-400">{{ totalRemaining }}</td>
			<td class="w-1/5">หน่วยกิต</td>
		</tr>
		<!-- <tr>
			<td>หน่วยกิตทั้งหมด</td>
			<td>{{ totalCredit }}</td>
		</tr> -->
	</table>
</div>
