<div class="grid w-full grid-cols-1 gap-5">
	<sdm-search-bar *ngIf="isShowSearchBar" [data]="srcReviewData" [filterFunction]="searchFunction" (searchedDataList)="getSearchedReviewsDataList($event)" id="search-bar"></sdm-search-bar>

	<!-- Header Section -->
	<div class="flex items-center gap-3" id="filter-bar">
		<div class="font-medium text-dark-100">เรียงโดย</div>
		<button
			(click)="onPopularFilterChange()"
			[disabled]="getSubjectReviewIsNull || isEditingReview"
			class="filter-button"
			[ngClass]="{
				'bg-main-100 text-light': selectedPopular,
				'bg-main-15 text-dark-100': !selectedPopular,
				'hover:bg-main-25': !getSubjectReviewIsNull && !selectedPopular && !isEditingReview,
				'cursor-not-allowed': getSubjectReviewIsNull || isEditingReview,
			}">
			ยอดนิยม
		</button>
		<button
			(click)="onLatestFilterChange()"
			[disabled]="getSubjectReviewIsNull || isEditingReview"
			class="filter-button"
			[ngClass]="{
				'bg-main-100 text-light': selectedLatest,
				'bg-main-15 text-dark-100': !selectedLatest,
				'hover:bg-main-25': !getSubjectReviewIsNull && !selectedLatest && !isEditingReview,
				'cursor-not-allowed': getSubjectReviewIsNull || isEditingReview,
			}">
			ล่าสุด
		</button>
		<sdm-select defaultLabel="จำนวนดาว" SelectName="starRating" [listOptions]="ratingList" class="w-40" (selectedValue)="onRatingFilterChange($event)" [disabled]="getSubjectReviewIsNull || isEditingReview"></sdm-select>
		<button
			*ngIf="isReviewPage && signedIn"
			(click)="onCurrentYearTermFilterChange()"
			[disabled]="getSubjectReviewIsNull || isEditingReview"
			class="filter-button"
			[ngClass]="{
				'bg-main-100 text-light': selectedCurrentYearTerm,
				'bg-main-15 text-dark-100': !selectedCurrentYearTerm,
				'hover:bg-main-25': !getSubjectReviewIsNull && !selectedCurrentYearTerm && !isEditingReview,
				'cursor-not-allowed': getSubjectReviewIsNull || isEditingReview,
			}">
			เปิดในปีการศึกษาและภาคการศึกษาปัจจุบัน
		</button>
	</div>
	<ng-container *ngIf="!isLoadingReview && filterReviewIsNull && !getSubjectReviewIsNull">
		<div class="flex w-full flex-1 flex-col items-center justify-center gap-3 py-10 text-center text-dark-75">ไม่พบข้อมูลรีวิวรายวิชาที่ค้นหา</div>
	</ng-container>
	<ng-container *ngIf="getSubjectReviewIsNull">
		<div class="flex w-full flex-1 flex-col items-center justify-center gap-3 py-10 text-center text-dark-75">ไม่พบข้อมูลรายรีวิวรายวิชา</div>
	</ng-container>

	<div class="grid w-full grid-cols-1 gap-4" *ngIf="!getSubjectReviewIsNull && !isLoadingReview && !filterReviewIsNull && paginatedItems.length > 0">
		<!-- Pagination -->
		<sdm-pagination
			*ngIf="paginationType === paginationTypes.double"
			(pageChange)="changePage($event)"
			[totalItems]="subjectReviewTotal"
			[itemsPerPage]="itemsPerPage"
			[currentPage]="currentPage"
			[scrollTargetId]="isShowSearchBar ? '' : 'filter-bar'"></sdm-pagination>
		<ng-container *ngFor="let data of paginatedItems; let i = index" class="grid grid-cols-1 gap-4">
			<sdm-subject-review
				[isShowSubjectIdAndName]="isReviewPage"
				[subjectReviewData]="data"
				[isSignIn]="signedIn"
				[isReviewCreator]="isReviewOwner(data.user_id)"
				[currentUser]="currentUser"
				(confirmEditReview)="onConfirmEditReview()"
				(deleteUserReview)="onDeleteUserReview()"
				(isEditingReview)="onEditReview($event)"
				(createLikeReview)="onCreateLikeReview()"
				(deleteLikeReview)="onDeleteLikeReview()">
			</sdm-subject-review>
		</ng-container>

		<!-- Pagination -->
		<sdm-pagination (pageChange)="changePage($event)" [totalItems]="subjectReviewTotal" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" [scrollTargetId]="isShowSearchBar ? '' : 'filter-bar'"></sdm-pagination>
	</div>
</div>
