/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #4d74cb26;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4d74cb40;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #4d74cb80;
}
