<div>
	<div class="grid w-full flex-none grid-cols-1 gap-2">
		<ng-container *ngIf="!isEdit">
			<div class="flex flex-row items-center gap-1">
				<div class="text-base font-semibold">
					เขียนรีวิวสำหรับรายวิชานี้
				</div>
				<div class="h-50 w-50">
					<sdm-icon
						icon="pen-to-square"
						class="h-full w-full text-dark-100"
					></sdm-icon>
				</div>
			</div>
			<div class="flex flex-row items-center gap-1.5">
				<div class="text-sm font-semibold">ให้คะแนนรายวิชานี้</div>
				<sdm-rating mode="selector" customClass="text-yellow-300">
				</sdm-rating>
			</div>
			<div class="flex flex-wrap justify-start gap-x-3 gap-y-3">
				<sdm-select
					defaultLabel="ปีการศึกษา"
					SelectName="selectedYear"
					customDdlHeader="text-sm"
					customDdlOptions="text-sm"
					[listOptions]="yearsList"
					(selectedValue)="handleSelectChange('selectedYear', $event)"
					class="w-32"
				></sdm-select>
				<sdm-select
					defaultLabel="ภาคการศึกษา"
					SelectName="selectedSemester"
					customDdlHeader="text-sm"
					customDdlOptions="text-sm"
					[listOptions]="semesterList"
					(selectedValue)="
						handleSelectChange('selectedSemester', $event)
					"
					class="w-36"
				></sdm-select>
			</div>
		</ng-container>
		<sdm-rich-text-editor [isEdit]="isEdit"></sdm-rich-text-editor>
	</div>
</div>
