<div>
	<div class="grid w-full flex-none grid-cols-1 gap-2">
		<div class="flex flex-row items-center gap-1">
			<div class="text-base font-semibold">
				เขียนรีวิวสำหรับรายวิชานี้
			</div>
			<div class="h-50 w-50">
				<sdm-icon
					icon="pen-to-square"
					class="h-full w-full text-dark-100"
				></sdm-icon>
			</div>
		</div>
		<div class="flex flex-row items-center gap-1.5">
			<div class="text-sm font-semibold">ให้คะแนนรายวิชานี้</div>
			<sdm-rating mode="selector" customClass="text-yellow-300">
			</sdm-rating>
		</div>
		<div class="flex flex-wrap justify-start gap-x-3 gap-y-3">
			<sdm-select
				defaultLabel="ปีการศึกษา"
				SelectName="selectedYear"
				customDdlHeader="text-sm"
				customDdlOptions="text-sm"
				[listOptions]="yearsList"
				(selectedValue)="handleSelectChange('selectedYear', $event)"
				class="h-6 w-32"
			></sdm-select>
			<sdm-select
				defaultLabel="ภาคการศึกษา"
				SelectName="selectedSemester"
				customDdlHeader="text-sm"
				customDdlOptions="text-sm"
				[listOptions]="semesterList"
				(selectedValue)="handleSelectChange('selectedSemester', $event)"
				class="h-6 w-36"
			></sdm-select>
		</div>
		<div
			class="mt-2 flex w-full flex-col gap-y-1 rounded-[15px] border border-main-25"
		>
			<!-- Header Section -->
			<div
				class="flex w-full items-center gap-x-2 rounded-[15px] bg-main-15 p-5 text-base font-semibold"
			></div>
			<div class="flex flex-col gap-y-5 p-5">
				<div>
					<!-- <textarea
						id="message"
						rows="4"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
						placeholder="คุณคิดอย่างไรกับรายวิชานี้ ?"
					></textarea> -->
					<sdm-markdown-editor
						[initialValue]="'เริ่มต้นด้วย Markdown!'"
						(contentChange)="onMarkdownChange($event)"
						>>
					</sdm-markdown-editor>
				</div>
				<!-- Add Button -->
				<div class="flex flex-row items-end justify-end gap-2">
					<div class="col-span-1" *ngIf="isEdit">
						<button
							class="flex h-min w-min items-center gap-x-2 rounded-[15px] border border-gray-300 px-3 py-1.5 font-medium text-gray-400 hover:bg-gray-300 hover:text-white"
						>
							<p class="text-sm">ยกเลิก</p>
						</button>
					</div>
					<div class="col-span-1">
						<button
							class="flex h-min w-min items-center gap-x-2 rounded-[15px] border border-main-25 px-3 py-1.5 font-medium text-main-75 hover:bg-main-75 hover:text-white"
						>
							<sdm-icon
								icon="paper-plane"
								class="text-sm"
							></sdm-icon>
							<p class="text-sm">รีวิว</p>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
