<div class="flex w-full gap-x-5">
	<div class="flex-none">
		<div class="grid grid-cols-2 gap-5">
			<div class="border-1 col-span-2 flex flex-col items-center gap-y-5 rounded-[20px] border border-main-25 p-12">
				<div *ngIf="currentUser?.profile_picture" class="h-32 w-32">
					<sdm-icon [src]="currentUser?.profile_picture || null" class="h-full w-full"></sdm-icon>
				</div>
				<div *ngIf="!currentUser?.profile_picture" class="h-32 w-32">
					<sdm-icon [src]="'images/default-user-avatar.png'"></sdm-icon>
				</div>
				<div class="text-center">
					<div class="text-dark-100 text-xl font-semibold">{{ currentUser?.firstname }}</div>
					<div class="text-dark-100 text-xl font-semibold">{{ currentUser?.lastname }}</div>
				</div>
			</div>
			<div class="col-span-1 rounded-[20px] border border-main-25 p-5">
				<div class="grid grid-flow-col grid-rows-2 items-center text-center">
					<div class="row-span-1 text-sm">ลงแล้ว</div>
					<div class="row-span-1 text-sm">หน่วยกิต</div>
					<div class="row-span-2 text-lg font-medium text-teal-500">118</div>
				</div>
			</div>
			<div class="col-span-1 rounded-[20px] border border-main-25 p-5">
				<div class="grid grid-flow-col grid-rows-2 items-center text-center">
					<div class="row-span-1 text-sm">ขาดอีก</div>
					<div class="row-span-1 text-sm">หน่วยกิต</div>
					<div class="row-span-2 text-lg font-medium text-red-400">18</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid w-full flex-1 grid-cols-1 rounded-[20px] border border-main-25 p-12">
		<div class="grid w-full grid-cols-5 gap-y-7 pb-10">
			<div class="text-dark-100 col-span-4 text-xl font-medium">โปรไฟล์</div>
			<button (click)="editProfile()" class="col-span-1 text-end text-base font-bold text-primary-300 hover:text-main-120">แก้ไขข้อมูล</button>
			<div class="text-dark-75 col-span-1 mt-4 text-sm font-medium">รูปโปรไฟล์</div>
			<div *ngIf="currentUser?.profile_picture" class="col-span-4 h-12 w-12">
				<sdm-icon [src]="currentUser?.profile_picture || null" class="h-full w-full text-main-25"></sdm-icon>
			</div>
			<div *ngIf="!currentUser?.profile_picture" class="col-span-4 h-12 w-12">
				<sdm-icon [src]="'images/default-user-avatar.png'"></sdm-icon>
			</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">ชื่อ</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">{{ currentUser?.firstname }}</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">นามสกุล</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">{{ currentUser?.lastname }}</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">รหัสนักศึกษา</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">{{ currentUser?.id }}</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">คณะ</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">{{ currentUser?.curriculum?.program?.department?.faculty?.name_th }}</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">สาขาวิชา</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">{{ currentUser?.curriculum?.program?.department?.name_th }}</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">หลักสูตร</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">พ.ศ. {{ currentUser?.curriculum?.year }} {{ currentUser?.curriculum?.name_th }}</div>
		</div>
		<div class="grid w-full grid-cols-5 gap-y-7 border-t border-t-main-25 py-10">
			<div class="text-dark-100 col-span-4 text-xl font-medium">บัญชีที่เข้าสู่ระบบ</div>
			<button (click)="editAccount()" class="col-span-1 text-end text-base font-bold text-primary-300 hover:text-main-120">เปลี่ยนรหัสผ่าน</button>
			<div class="text-dark-75 col-span-1 text-sm font-medium">Email</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">64010359&#64;kmitl.ac.th</div>
			<div class="text-dark-75 col-span-1 text-sm font-medium">Password</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">*******************</div>
		</div>
		<div class="grid w-full grid-cols-5 gap-y-7 border-t border-t-main-25 pt-10">
			<div class="text-dark-100 col-span-4 text-xl font-medium">ทรานสคริปต์ของฉัน</div>
			<button (click)="editTranscript()" class="col-span-1 text-end text-base font-bold text-primary-300 hover:text-main-120">แก้ไข Transcript</button>
			<div class="text-dark-75 col-span-1 text-sm font-medium">Transcript File</div>
			<div class="text-dark-100 col-span-4 text-base font-normal">Transcript - Tanchanok Charungpattananon.pdf</div>
		</div>
	</div>
</div>
