<div class="grid grid-cols-4 gap-x-5">
	<div class="">
		<div class="border-1 col-span-2 flex flex-col items-center gap-y-5 rounded-[20px] border border-main-25 p-12">
			<div *ngIf="currentUser?.profile_picture" class="h-32 w-32">
				<sdm-icon [src]="currentUser?.profile_picture || null" class="h-full w-full"></sdm-icon>
			</div>
			<div *ngIf="!currentUser?.profile_picture" class="h-32 w-32">
				<sdm-icon [src]="'images/default-user-avatar.png'"></sdm-icon>
			</div>
			<div class="text-center">
				<p class="truncate text-xl font-semibold text-dark-100">คุณ {{ currentUser?.nickname }}</p>
			</div>
		</div>
	</div>

	<div class="col-span-3 w-full rounded-[20px] border border-main-25 p-12">
		<div class="text-xl font-semibold"><sdm-icon class="me-3" icon="user"></sdm-icon>ข้อมูลผู้ใช้</div>

		<form class="my-5 flex flex-col gap-y-4" [formGroup]="editProfileForm">
			<div class="input-primary">
				<label for="nickname">ชื่อเล่น</label>
				<input type="text" id="nickname" formControlName="nickname" placeholder="ชื่อเล่น" required />
			</div>
			<div class="input-primary">
				<label for="firstname">ชื่อจริง</label>
				<input type="text" id="firstname" formControlName="firstname" placeholder="ชื่อจริง" required />
			</div>
			<div class="input-primary">
				<label for="lastname">นามสกุล</label>
				<input type="text" id="lastname" formControlName="lastname" placeholder="นามสกุล" required />
			</div>
		</form>

		<div *ngIf="!isEditProfile">
			<sdm-base-button icon="pen" text="แก้ไขข้อมูลผู้ใช้" textColor="text-light" textColorHover="hover:text-light" backgroundColor="bg-primary-300" backgroundColorHover="hover:bg-primary-400" (clickEvent)="onEditProfileForm()" />
		</div>
		<div *ngIf="isEditProfileLoading">
			<sdm-base-button text="กำลังโหลด..." textColor="text-light" textColorHover="hover:text-light" backgroundColor="bg-primary-300" backgroundColorHover="hover:bg-primary-400" [isDisabled]="true" />
		</div>
		<div class="flex gap-2" *ngIf="isEditProfile && !isEditProfileLoading">
			<sdm-base-button
				class="flex-grow"
				icon="xmark"
				text="ยกเลิก"
				textColor="text-light"
				textColorHover="hover:text-light"
				backgroundColor="bg-danger-300"
				backgroundColorHover="hover:bg-danger-400"
				(clickEvent)="onEditProfileFormCancel()" />
			<sdm-base-button
				class="flex-grow"
				icon="save"
				text="บันทึกข้อมูล"
				textColor="text-light"
				textColorHover="hover:text-light"
				backgroundColor="bg-success-300"
				backgroundColorHover="hover:bg-success-400"
				(clickEvent)="onEditProfileFormConfirm()" />
		</div>
	</div>
</div>
