<div class="grid grid-flow-col grid-rows-5 items-center justify-center justify-items-center gap-y-4 rounded-[80px] bg-orange-50 px-10 py-8" [class]="containerClass">
	<div class="row-span-1 text-lg font-bold">{{ headerText }}</div>
	<div class="row-span-3" [class]="imageClass"><img [src]="image" alt="" /></div>
	<div class="row-span-1">
		<sdm-button-link
			[link]="link"
			[text]="buttonText"
			textSize="text-base"
			fontWeight="font-bold"
			textColor="text-dark-100"
			textColorHover="text-dark-100"
			backgroundColorHover="hover:bg-dark-10"
			borderStyle="border border-dark-100"
			borderRadius="rounded-full"
			width="w-fit"
			padding="px-2 py-1"></sdm-button-link>
	</div>
</div>
