<div class="grid grid-cols-4 gap-x-5">
	<div class="col-span-4 flex flex-col lg:col-span-3">
		<div class="mb-4">
			<h3 class="font-semibold opacity-75">หลักสูตรปี พ.ศ. {{ currentUser?.curriculum?.year }}</h3>
			<h2 class="text-2xl font-semibold">{{ currentUser?.curriculum?.name_th }}</h2>
			<h3 class="text-lg opacity-50">{{ currentUser?.curriculum?.name_en }}</h3>
		</div>
		<!-- for tablet and mobile -->
		<div class="mb-4 flex flex-col gap-y-4 lg:hidden">
			<div class="flex flex-col gap-y-2">
				<sdm-base-button
					icon="file-import"
					text="อัปโหลด Transcript"
					textColor="text-light"
					textColorHover="hover:text-light"
					backgroundColor="bg-main-100"
					backgroundColorHover="hover:bg-primary-400"
					(clickEvent)="onUploadTranscript()"></sdm-base-button>
				<sdm-base-button
					icon="trash-can"
					text="ลบข้อมูล Transcript"
					textColor="text-light"
					textColorHover="hover:text-light"
					backgroundColor="bg-red-400"
					backgroundColorHover="hover:bg-danger-400"
					(clickEvent)="onDeleteTranscript()"></sdm-base-button>
			</div>
			<sdm-credit-dashboard [totalCompleted]="calculateTotalCompleteCredit()" [totalCredit]="136" [totalRemaining]="136 - calculateTotalCompleteCredit()"></sdm-credit-dashboard>
		</div>
		<sdm-tabs #subjectTab [tabs]="tabs">
			<ng-template #transcript>
				<sdm-transcript-tracker #transcriptTracker />
			</ng-template>
			<ng-template #progress>
				<sdm-progress-tracker #progressTracker />
			</ng-template>
			<ng-template #grade>
				<sdm-grade-tracker #gradeTracker />
			</ng-template>
		</sdm-tabs>
	</div>
	<div class="col-span-1">
		<!-- for desktop -->
		<div class="hidden flex-col lg:flex lg:gap-y-4">
			<div class="flex flex-col gap-y-2">
				<sdm-base-button
					icon="file-import"
					text="อัปโหลด Transcript"
					textColor="text-light"
					textColorHover="hover:text-light"
					backgroundColor="bg-main-100"
					backgroundColorHover="hover:bg-primary-400"
					(clickEvent)="onUploadTranscript()"></sdm-base-button>
				<sdm-base-button
					icon="trash-can"
					text="ลบข้อมูล Transcript"
					textColor="text-light"
					textColorHover="hover:text-light"
					backgroundColor="bg-red-400"
					backgroundColorHover="hover:bg-danger-400"
					(clickEvent)="onDeleteTranscript()"></sdm-base-button>
			</div>
			<sdm-credit-dashboard [totalCompleted]="calculateTotalCompleteCredit()" [totalCredit]="136" [totalRemaining]="136 - calculateTotalCompleteCredit()"></sdm-credit-dashboard>
		</div>
	</div>
</div>

<sdm-base-modal #uploadTranscriptModal modalId="uploadTranscript" header="อัปโหลดไฟล์ Transcript ใหม่" (confirmEvent)="onConfirmUploadTranscript()">
	<label for="uploadTranscriptInput" class="mb-3 flex h-80 w-full cursor-pointer flex-col items-center justify-center rounded-[20px] border-2 border-dashed border-primary-200 bg-light transition-all hover:bg-primary-100">
		<div class="flex flex-col items-center justify-center pb-6 pt-5">
			<sdm-icon icon="cloud-arrow-up" class="pb-7 text-5xl text-primary-300"></sdm-icon>
			<p class="mb-2 text-base">
				<span class="font-semibold">เลือก</span>
				ไฟล์ Transcript ที่นี่
			</p>
			<p class="text-sm opacity-50">ไฟล์ PDF ขนาดไม่เกิน 15 MB</p>
		</div>
		<input id="uploadTranscriptInput" class="hidden" type="file" (change)="onTranscriptUploadInput($event)" />
	</label>
</sdm-base-modal>
<sdm-base-modal #deleteTranscriptModal modalId="deleteTranscript" header="ยืนยันลบข้อมูล Transcript ทั้งหมดออกจากระบบ" (confirmEvent)="onConfirmDeleteTranscript()">
	<div class="mb-10 mt-5 text-center">
		<div class="font-semibold text-danger-300">ท่านยืนยันที่จะลบข้อมูลหรือไม่?</div>
		<div class="text-sm opacity-50">การกระทำนี้ไม่สามารถย้อนคืนกลับมาได้</div>
	</div>
</sdm-base-modal>
