<!-- my-subject.page.html -->
<div class="mt-4 flex justify-between">
	<p class="text-xl font-medium text-dark-100">{{ curriculumName }}</p>
	<div class="flex gap-x-2">
		<button data-modal-target="confirm-delete-modal" data-modal-toggle="confirm-delete-modal" class="rounded-lg border border-red-400 bg-white px-3 py-1.5 text-base font-medium text-dark-100 hover:bg-red-400 hover:text-white focus:bg-red-400 focus:text-white">ลบข้อมูล Transcript</button>
		<button data-modal-target="import-transcript-modal" data-modal-toggle="import-transcript-modal" class="rounded-lg bg-main-100 px-3 py-1.5 text-base font-medium text-white hover:bg-main-120">อัปโหลด Transcript</button>
	</div>
</div>

<sdm-import-transcript-modal modalID="import-transcript-modal" headerModal="อัปโหลดไฟล์ Transcript ของคุณ"></sdm-import-transcript-modal>

<div *ngIf="!isDataLoaded && !errorMessage" class="mt-9 text-center text-dark-100">
	<p>กำลังโหลดข้อมูล...</p>
</div>
<div *ngIf="errorMessage" class="mt-9 text-center text-red-500">
	<p>{{ errorMessage }}</p>
</div>
