<div class="flex flex-col gap-y-5 rounded-[20px] border border-main-50 px-5 py-4">
	<div>ต้องลงเพิ่ม</div>

	<div class="ms-6 flex gap-3">
		<sdm-icon icon="angles-up" class="text-lg text-red-400"></sdm-icon>
		<div>วิชาเฉพาะด้าน</div>
	</div>
	<div class="ms-6 flex gap-3">
		<sdm-icon icon="equals" class="text-lg text-amber-300"></sdm-icon>
		<div>วิชาการศึกษาทางเลือก</div>
	</div>
	<div class="ms-6 flex gap-3">
		<sdm-icon icon="angles-down" class="text-lg text-primary-300"></sdm-icon>
		<div>วิชาเลือกเสรี</div>
	</div>
</div>
