<div
	class="flex w-full flex-col gap-y-5 rounded-[20px] border border-main-25 pb-5"
>
	<!-- Header Section -->
	<div
		class="flex w-full justify-between gap-x-2 rounded-t-[20px] bg-main-25 px-5 py-2.5 text-base font-semibold"
	>
		<div class="flex gap-2">
			<div>ปีการศึกษา 2567</div>
			<div>ภาคการศึกษาที่ 1</div>
		</div>

		<div class="flex flex-row gap-x-1">
			<sdm-icon icon="star" class="text-dark-100"></sdm-icon>
			<sdm-icon icon="star" class="text-dark-100"></sdm-icon>
			<sdm-icon icon="star" class="text-dark-100"></sdm-icon>
			<sdm-icon icon="star" class="text-dark-100"></sdm-icon>
			<sdm-icon icon="star" class="text-dark-100"></sdm-icon>
		</div>
	</div>

	<div class="px-5 text-sm font-normal text-dark-100">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, animi.
		Assumenda repudiandae corporis quisquam ratione quam pariatur
		necessitatibus, aspernatur ea fugiat doloremque veniam id ab iste dolor,
		consequuntur eaque voluptates. Facilis similique reprehenderit,
		accusamus consequatur at officiis dignissimos, aperiam ducimus sunt
		distinctio magni dolorem.
	</div>

	<div class="flex justify-between px-5">
		<div class="flex gap-2">
			<sdm-icon
				icon="thumbs-up"
				iconStyle="far"
				class="text-dark-100"
			></sdm-icon>
			<div>15</div>
		</div>
		<div class="flex gap-2">
			<div class="text-sm font-normal text-dark-75">26 มี.ค. 2024</div>
			<sdm-icon
				icon="pen-to-square"
				iconStyle="fas"
				class="text-dark-100"
			></sdm-icon>
			<sdm-icon
				icon="trash-can"
				iconStyle="fas"
				class="text-red-400"
			></sdm-icon>
		</div>
	</div>
</div>
