<div
	class="flex w-full flex-col gap-y-3 rounded-[15px] border border-main-25 pb-3"
>
	<!-- Header Section -->
	<div
		class="flex w-full justify-between gap-x-2 rounded-[15px] bg-main-15 px-5 py-2.5 text-base font-semibold"
	>
		<div *ngIf="viewMode === 'subject-detail'" class="flex gap-4">
			<div>ปีการศึกษา {{ this.subjectReviewData.year }}</div>
			<div>ภาคการศึกษาที่ {{ this.subjectReviewData.term }}</div>
		</div>
		<div *ngIf="viewMode === 'review'" class="flex gap-4">
			<div>{{ this.subjectReviewData.subject_id }}</div>
			<div>{{ this.subjectReviewData.subject_name_en }}</div>
			<div>ปีการศึกษา {{ this.subjectReviewData.year }}</div>
			<div>ภาคการศึกษาที่ {{ this.subjectReviewData.term }}</div>
		</div>
		<div class="flex items-center gap-x-1">
			<sdm-rating
				mode="display"
				[rating]="this.subjectReviewData.rating"
				customClass="text-base text-dark-100"
			></sdm-rating>
		</div>
	</div>

	<!-- Subject Review -->
	<div class="px-5 text-sm font-normal text-dark-100">
		{{ this.subjectReviewData.review }}
	</div>

	<!-- Footer Section -->
	<div class="flex items-center justify-between px-5">
		<div class="flex items-center gap-2">
			<sdm-icon
				icon="thumbs-up"
				[iconStyle]="isLiked ? 'fas' : 'far'"
				class="cursor-pointer text-base text-dark-100"
				(click)="toggleLike()"
			></sdm-icon>
			<div>15</div>
		</div>
		<div class="flex items-center gap-2.5">
			<div class="text-sm font-normal text-dark-75">
				{{ this.subjectReviewData.create_date }}
			</div>
			<sdm-icon
				icon="pen-to-square"
				iconStyle="fas"
				class="cursor-pointer text-base text-dark-100"
			></sdm-icon>
			<sdm-icon
				icon="trash-can"
				iconStyle="fas"
				class="cursor-pointer text-base text-red-400"
			></sdm-icon>
		</div>
	</div>
</div>
