<div class="flex gap-x-3">
	<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="w-full">
		<div class="relative">
			<div
				class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
			>
				<sdm-icon
					icon="magnifying-glass"
					class="text-dark-100"
				></sdm-icon>
			</div>
			<input
				type="search"
				formControlName="search"
				class="block w-full rounded-[20px] border-none bg-main-10 py-3 pe-2 ps-10 text-sm font-normal text-dark-100 hover:bg-main-25 focus:border-none focus:outline-none focus:ring-2 focus:ring-main-100"
				placeholder="ชื่อวิชา, รหัสวิชา, หมวดหมู่รายวิชา"
				required
			/>
		</div>
	</form>
	<button
		class="flex min-w-max gap-x-2 rounded-[20px] border-none bg-main-10 px-4 py-3 text-sm font-normal text-dark-50 hover:bg-main-25 focus:border-none focus:outline-none focus:ring-0"
		(click)="onSubmit()"
		data-modal-target="subject-added-modal"
		data-modal-toggle="subject-added-modal"
	>
		<sdm-icon icon="list-ul" class="text-dark-100"></sdm-icon
		>รายวิชาที่เพิ่ม
	</button>
</div>
