<app-announce
	detail="ใกล้จะถึงวันลงทะเบียนเรียนปกติแล้ว อย่าลืมมาลงทะเบียนเรียนกันนะ"
	date="จ. 24 มิ.ย. - ศ. 28 มิ.ย. 67"
></app-announce>
<div class="py-4"></div>
<app-let-plan></app-let-plan>
<div
	class="mt-16 grid grid-cols-2 items-center justify-items-center gap-y-16 px-16 2xl:px-32"
>
	<div
		class="flex h-[400px] w-[400px] items-center justify-center justify-self-start rounded-[20px] bg-orange-50 px-10 py-10 2xl:h-[500px] 2xl:w-[500px]"
	>
		<div class="item-center flex justify-center">
			<img
				class="w-full"
				src="online-planner-to-do-list-home.png"
				alt="ตรวจสอบรายวิชาที่ต้องการ"
			/>
		</div>
	</div>
	<div class="flex w-[400px] flex-col justify-self-end 2xl:w-[500px]">
		<p class="text-3xl font-bold">ตรวจสอบรายวิชาที่ต้องการ</p>
		<div class="ms-5 mt-4 flex flex-col text-xl">
			<li>ค้นหารายวิชาต่าง ๆ ที่คุณสนใจ</li>
			<li>Filter หารายวิชาต่าง ๆ ตามที่ต้องการ</li>
			<li>ดูรายละเอียดของรายวิชาต่าง ๆ</li>
			<li>ร่วมร้องขอการเปิดรายวิชาที่ต้องการ</li>
			<li>เพิ่มวิชาที่สนใจลงตารางเรียน</li>
		</div>
	</div>
	<div class="flex w-[400px] flex-col justify-self-start 2xl:w-[500px]">
		<p class="text-3xl font-bold">ดูรีวิวรายวิชาต่าง ๆ</p>
		<div class="ms-5 mt-4 flex flex-col text-xl">
			<li>หารายวิชาที่ต้องการอ่านและเขียนรีวิวได้</li>
			<li>อ่านรีวิวรายวิชาต่าง ๆ ที่ต้องการ</li>
			<li>เขียนรีวิวรายวิชาที่คุณเคยลงทะเบียนเรียนไปแล้วได้</li>
		</div>
	</div>
	<div
		class="flex h-[400px] w-[400px] items-center justify-center justify-self-end rounded-[20px] bg-orange-50 px-10 py-10 2xl:h-[500px] 2xl:w-[500px]"
	>
		<div class="item-center flex justify-center">
			<img
				class="w-full"
				src="young-man-pointing-at-rating-window-home.png"
				alt="ดูรีวิวรายวิชาต่าง ๆ"
			/>
		</div>
	</div>
	<div
		class="flex h-[400px] w-[400px] items-center justify-center justify-self-start rounded-[20px] bg-orange-50 px-10 py-10 2xl:h-[500px] 2xl:w-[500px]"
	>
		<div class="item-center flex justify-center">
			<img
				class="w-full"
				src="clock-and-calendar-home.png"
				alt="จัดตารางเรียนและวางแผนการเรียนล่วงหน้า"
			/>
		</div>
	</div>
	<div class="flex w-[400px] flex-col justify-self-end 2xl:w-[500px]">
		<p class="text-3xl font-bold">จัดตารางเรียนและวางแผนการเรียนล่วงหน้า</p>
		<div class="ms-5 mt-4 flex flex-col text-xl">
			<li>ลองจัดตารางเรียนได้หลายรูปแบบ</li>
			<li>สร้างแผนการเรียนได้หลายรูปแบบ</li>
			<li>เพิ่ม / ลบ รายวิชาที่ต้องการได้</li>
			<li>Export ตารางเรียนและแผนการเรียนออกมาได้</li>
		</div>
	</div>
	<div class="flex w-[400px] flex-col justify-self-start 2xl:w-[500px]">
		<p class="text-3xl font-bold">
			สรุปรายวิชาทั้งหมดที่เคยลงทะเบียนเรียนไปแล้ว
		</p>
		<div class="ms-5 mt-4 flex flex-col text-xl">
			<li>Import Transcript เข้ามาเพื่อดูสรุปรายวิชาของคุณ</li>
			<li>แสดงหมวดหมู่รายวิชาตามหลักสูตร</li>
			<li>บอกจำนวนหน่วยกิตที่ลงไปแล้ว</li>
			<li>บอกจำนวนหน่วยกิตที่ยังขาด</li>
		</div>
	</div>
	<div
		class="flex h-[400px] w-[400px] items-center justify-center justify-self-end rounded-[20px] bg-orange-50 px-10 py-10 2xl:h-[500px] 2xl:w-[500px]"
	>
		<div class="item-center flex justify-center">
			<img
				class="w-full"
				src="young-man-pointing-at-rating-window-home.png"
				alt="สรุปรายวิชาทั้งหมดที่เคยลงทะเบียนเรียนไปแล้ว"
			/>
		</div>
	</div>
</div>
<div class="flex justify-center">
	<p
		class="mb-36 mt-36 w-9/12 text-center text-3xl font-medium text-dark-100 2xl:w-7/12"
	>
		Make study planning easy. Start your experience with KMITL StudyMate
		now!
	</p>
</div>
<div class="flex justify-between 2xl:justify-center gap-x-6 2xl:gap-x-12 2xl:px-32">
	<app-card-home
		headerText="เรียนวิชาอะไรดี ?"
		image="stack-of-books-home.png"
        buttonText="ค้นหาวิชา"
	></app-card-home>
    <app-card-home
		headerText="อยากดูรีวิวรายวิชา"
		image="rating-window-chat-home.png"
        buttonText="ดูรีวิว"
	></app-card-home>
    <app-card-home
		headerText="ลองจัดตารางเรียน"
		image="time-management-home.png"
        buttonText="จัดตารางเรียน"
	></app-card-home>
    <app-card-home
		headerText="รายวิชาของฉัน"
		image="Cat-sitting-on-bookshelf-home.png"
        buttonText="ดูรายวิชา"
	></app-card-home>
</div>
