<div class="flex flex-col rounded-[20px] border border-main-25 px-4 pb-4 text-dark-100 md:w-64 2xl:w-72">
	<!-- Filter หมวดวิชา -->
	<!-- <div class="h-4 w-1 rounded-xl align-middle" [style.background-color]="findParentNodeColor(child)"></div> -->
	<div class="flex flex-col">
		<sdm-base-accordion header="หมวดวิชา" accordionId="curriculum-filter-acc" [accordionDefaultStatus]="true">
			<ng-container *ngIf="!selectedCurriculum; else showCurFilter">
				<div class="flex h-72 w-full flex-col items-center justify-center gap-y-3 rounded-xl border border-main-10 text-center">
					<sdm-icon icon="arrow-pointer" class="text-2xl text-main-10"></sdm-icon>
					<div class="text-main-25">โปรดเลือกหลักสูตร เพื่อฟิลเตอร์รายวิชาในหมวดหมู่ต่างๆ</div>
				</div>
			</ng-container>
			<ng-template #showCurFilter>
				<ng-container *ngIf="isLoadingTranscript; else showCurriculumFilter">
					<div class="flex w-full flex-col gap-y-2">
						<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
						<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
					</div>
				</ng-container>
				<ng-template #showCurriculumFilter>
					<div class="max-w-full overflow-y-hidden overflow-x-scroll">
						<div class="w-max">
							<ng-container
								*ngTemplateOutlet="
									renderGroup;
									context: {
										$implicit: curriculumGroup,
										level: 6,
									}
								"></ng-container>
							<ng-template #renderGroup let-node let-level="level">
								<div class="flex flex-col gap-y-1.5">
									<ng-container *ngFor="let child of node">
										<div
											class="flex w-fit justify-between rounded-md px-1"
											[ngClass]="{
												'hover:cursor-pointer hover:bg-gray-100': child.children.length > 0,
												'': child.children.length === 0,
											}"
											[attr.data-accordion-target]="'#group-' + child.id"
											(click)="child.children.length > 0 ? toggleAccordion(child.id) : null">
											<div class="flex items-center gap-x-2">
												<ng-container *ngIf="child.children.length !== 0; else showDefault">
													<sdm-icon icon="caret-right" class="" [ngClass]="{ 'rotate-90': isAccordionOpen(child.id) }"></sdm-icon>
												</ng-container>
												<ng-template #showDefault>
													<sdm-icon icon="caret-right" class=""></sdm-icon>
												</ng-template>
												<ng-container *ngIf="child.type === 'FREE'; else canCheck">
													<input
														id="checkbox"
														type="checkbox"
														[disabled]="true"
														[checked]="true"
														class="check-box border-2 hover:cursor-not-allowed"
														[style.border-color]="findParentNodeColor(child)"
														[style.color]="findParentNodeColor(child)" />
												</ng-container>
												<ng-template #canCheck>
													<input
														id="checkbox"
														type="checkbox"
														class="check-box border-2"
														[checked]="isChecked(child.id)"
														(change)="toggleCheckbox(child.id, child)"
														[style.border-color]="findParentNodeColor(child)"
														[style.color]="findParentNodeColor(child)" />
												</ng-template>
												<div class="col-span-2 -mb-1 text-sm">
													{{ child.name }}
												</div>
											</div>
										</div>

										<div class="ms-7 flex gap-x-1" [class.hidden]="!isAccordionOpen(child.id)">
											<ng-container *ngTemplateOutlet="renderGroup; context: { $implicit: child.children, level: 6 }"></ng-container>
										</div>
									</ng-container>
								</div>
							</ng-template>
						</div>
					</div>
				</ng-template>
			</ng-template>
		</sdm-base-accordion>
	</div>

	<!-- Filter  คะแนน -->
	<ng-container *ngIf="isReviewPage; else showPointOption">
		<sdm-base-accordion header="จำนวนดาว" accordionId="star-filter-acc" [accordionDefaultStatus]="true">
			<ng-container *ngIf="isLoadingTranscript; else showRatingFilter">
				<div class="flex w-full flex-col gap-y-2">
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
				</div>
			</ng-container>
			<ng-template #showRatingFilter>
				<div class="flex flex-col gap-y-2.5 px-2">
					<ng-container *ngFor="let rating of ratingOption">
						<div class="flex gap-x-3">
							<input id="checkbox" type="checkbox" class="check-box" />
							<div class="col-span-2 -mb-1 text-sm">{{ rating }} ดาว</div>
						</div>
					</ng-container>
				</div>
			</ng-template>
		</sdm-base-accordion>
	</ng-container>
	<ng-template #showPointOption>
		<sdm-base-accordion header="คะแนนรีวิว" accordionId="rating-filter-acc" [accordionDefaultStatus]="true">
			<ng-container *ngIf="isLoadingTranscript; else showRatingFilter">
				<div class="flex w-full flex-col gap-y-2">
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
				</div>
			</ng-container>
			<ng-template #showRatingFilter>
				<div class="flex flex-col gap-y-1.5 px-2">
					<ng-container *ngFor="let rating of ratingOption.reverse()">
						<div class="flex">
							<button
								(click)="onClickReviewFilter(rating)"
								class="flex w-full flex-row items-center justify-start rounded-xl py-1 pl-1 pr-3 align-middle text-sm hover:bg-gray-100"
								[ngClass]="{
									'bg-gray-100 hover:bg-gray-200': selectedRating === rating,
									'hover:bg-gray-100': selectedRating !== rating,
								}">
								<sdm-rating mode="display" [rating]="rating" customClass="text-base text-primary-300"></sdm-rating>
								<ng-container *ngIf="rating != 5 && rating != 0">
									<span class="pl-1"> ขึ้นไป</span>
								</ng-container>
							</button>
						</div>
					</ng-container>
				</div>
			</ng-template>
		</sdm-base-accordion>
	</ng-template>

	<!-- Filter วัน -->
	<ng-container *ngIf="!isReviewPage">
		<sdm-base-accordion header="วัน" accordionId="day-filter-acc" [accordionDefaultStatus]="true">
			<ng-container *ngIf="isLoadingTranscript; else showDayFilter">
				<div class="flex w-full flex-col gap-y-2">
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
				</div>
			</ng-container>
			<ng-template #showDayFilter>
				<div class="flex flex-col gap-y-2.5 px-2">
					<ng-container *ngFor="let day of dayOption">
						<div class="flex gap-x-3.5">
							<input type="checkbox" class="check-box" [checked]="selectedDaysInput.includes(day)" (change)="toggleDay(day)" />
							<div class="text-sm">{{ day }}</div>
						</div>
					</ng-container>
				</div>
			</ng-template>
		</sdm-base-accordion>
	</ng-container>
</div>
