<div class="text-dark-100 flex flex-col rounded-[20px] border border-main-25 px-4 pb-4 md:w-64 2xl:w-72">
	<!-- Filter  คะแนน -->
	<sdm-base-accordion header="คะแนน" accordionId="rating-filter-acc" [accordionDefaultStatus]="true">
		<ng-container *ngIf="isLoadingTranscript; else showRatingFilter">
			<div class="flex w-full flex-col gap-y-2">
				<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
				<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
			</div>
		</ng-container>
		<ng-template #showRatingFilter>
			<div class="flex flex-col gap-y-2.5 px-2">
				<div class="flex gap-x-3">
					<input id="checkbox" type="checkbox" class="check-box" />
					<div class="col-span-2 -mb-1 text-sm">5 คะแนน</div>
				</div>
				<div class="flex gap-x-3">
					<input id="checkbox" type="checkbox" class="check-box" />
					<div class="col-span-2 -mb-1 text-sm">4 คะแนน</div>
				</div>
				<div class="flex gap-x-3">
					<input id="checkbox" type="checkbox" class="check-box" />
					<div class="col-span-2 -mb-1 text-sm">3 คะแนน</div>
				</div>
				<div class="flex gap-x-3">
					<input id="checkbox" type="checkbox" class="check-box" />
					<div class="col-span-2 -mb-1 text-sm">2 คะแนน</div>
				</div>
				<div class="flex gap-x-3">
					<input id="checkbox" type="checkbox" class="check-box" />
					<div class="col-span-2 -mb-1 text-sm">1 คะแนน</div>
				</div>
			</div>
		</ng-template>
	</sdm-base-accordion>

	<!-- Filter หมวดวิชา -->
	<div class="flex flex-col">
		<sdm-base-accordion header="หมวดวิชา" accordionId="curriculum-filter-acc" [accordionDefaultStatus]="true">
			<ng-container *ngIf="isLoadingTranscript; else showCurriculumFilter">
				<div class="flex w-full flex-col gap-y-2">
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
				</div>
			</ng-container>
			<ng-template #showCurriculumFilter>
				<div class="max-w-full overflow-y-hidden overflow-x-scroll">
					<div class="w-max">
						<ng-container
							*ngTemplateOutlet="
								renderGroup;
								context: {
									$implicit: curriculumGroup,
									level: 6,
								}
							"></ng-container>
						<ng-template #renderGroup let-node let-level="level">
							<div class="flex flex-col gap-y-1.5">
								<ng-container *ngFor="let child of node">
									<div
										class="flex w-fit justify-between rounded-md px-1"
										[ngClass]="{
											'hover:cursor-pointer hover:bg-gray-100': child.children.length > 0,
											'': child.children.length === 0,
										}"
										[attr.data-accordion-target]="'#group-' + child.id"
										(click)="child.children.length > 0 ? toggleAccordion(child.id) : null">
										<div class="flex items-center gap-x-2">
											<ng-container *ngIf="child.children.length !== 0; else showDefault">
												<sdm-icon icon="caret-right" class="" [ngClass]="{ 'rotate-90': isAccordionOpen(child.id) }"></sdm-icon>
											</ng-container>
											<ng-template #showDefault>
												<sdm-icon icon="caret-right" class=""></sdm-icon>
											</ng-template>
											<input id="checkbox" type="checkbox" class="check-box border-2" [style.border-color]="findParentNodeColor(child)" [style.color]="findParentNodeColor(child)" />
											<!-- <div class="h-4 w-1 rounded-xl align-middle" [style.background-color]="findParentNodeColor(child)"></div> -->
											<div class="col-span-2 -mb-1 text-sm">
												{{ child.name }}
											</div>
										</div>
									</div>

									<div class="ms-7 flex gap-x-1" [class.hidden]="!isAccordionOpen(child.id)">
										<ng-container *ngTemplateOutlet="renderGroup; context: { $implicit: child.children, level: 6 }"></ng-container>
									</div>
								</ng-container>
							</div>
						</ng-template>
					</div>
				</div>
			</ng-template>
		</sdm-base-accordion>
	</div>

	<!-- Filter วัน -->
	<ng-container *ngIf="!isReviewPage">
		<sdm-base-accordion header="วัน" accordionId="day-filter-acc" [accordionDefaultStatus]="true">
			<ng-container *ngIf="isLoadingTranscript; else showDayFilter">
				<div class="flex w-full flex-col gap-y-2">
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
					<sdm-loading-skeleton [loadingType]="103" [lines]="1"></sdm-loading-skeleton>
				</div>
			</ng-container>
			<ng-template #showDayFilter>
				<div class="flex flex-col gap-y-2.5 px-2">
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">จันทร์</div>
					</div>
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">อังคาร</div>
					</div>
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">พุธ</div>
					</div>
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">พฤหัสบดี</div>
					</div>
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">ศุกร์</div>
					</div>
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">เสาร์</div>
					</div>
					<div class="flex gap-x-3.5">
						<input id="checkbox" type="checkbox" class="check-box" />
						<div class="col-span-2 -mb-1 text-sm">อาทิตย์</div>
					</div>
				</div>
			</ng-template>
		</sdm-base-accordion>
	</ng-container>
</div>
