/* select {
	background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22 fill=%22white%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M5.292 7.707a1 1 0 011.414 0L10 11.001l3.293-3.294a1 1 0 011.414 1.415l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.415z%22 clip-rule=%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 1.3em;
} */

ul {
	display: none; /* ซ่อน ul โดยเริ่มต้น */
	position: absolute;
	width: 100%;
	z-index: 1;
}

ul.show {
	display: block; /* แสดง ul เมื่อเปิด dropdown */
}

li {
	cursor: pointer;
}
