<header>
	<div class="text-dark-100 bg-white py-5 text-center drop-shadow-md">
		Header จ้า
	</div>
</header>
<main>
	<div
		class="text-dark-100 mx-2 mb-32 mt-9 rounded-lg bg-orange-50 sm:mx-9 md:mx-24 lg:mx-48"
	>
		<h1 class="mb-1 text-3xl font-bold">ผู้ใช้งานระบบ</h1>
		<p class="mb-3 text-amber-800">นี่คือระบบดูและเพิ่มผู้ใช้งานระบบ</p>

		<div
			class="rounded-md border border-orange-200 bg-orange-50 px-3 py-2 text-center"
		>
			<div class="flex flex-wrap items-stretch gap-2">
				@if (users.length === 0) {
					<span>คุณไม่มีผู้ใช้ในระบบจ้า</span>
				} @else {
					@for (user of users; track user) {}
				}
			</div>
			<div>
				<img
					src="https://avatars.githubusercontent.com/u/162490643?s=200&v=4"
					alt="studymate"
				/>
				<div style="color: brown">test for pipeline</div>
			</div>
		</div>
		<div class="mt-2"></div>
		<i class="fa-solid fa-heart-pulse"></i>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta harum
			accusantium consequuntur laudantium, rem eaque doloremque officia
			nihil quasi inventore expedita nostrum impedit accusamus? Est, vitae
			officia adipisci consequuntur voluptatibus obcaecati autem iste ad
			iure tempora culpa nulla perspiciatis delectus debitis possimus
			tenetur doloremque. Aspernatur magnam ipsum velit harum inventore
			repellendus alias labore soluta fuga! Soluta, aliquam quo tempora
			voluptatem consequatur quia asperiores error! Dolore ipsa doloribus
			saepe nostrum voluptatum ex corrupti voluptates? Maiores excepturi
			magnam consequuntur suscipit fugit quasi provident, enim doloribus
			fugiat facilis cum nemo officiis exercitationem at itaque quas
			deserunt aperiam quibusdam omnis modi labore impedit ea! Alias eum
			necessitatibus provident obcaecati adipisci aperiam saepe delectus
			est, excepturi quasi qui molestiae dolor debitis accusamus odit.
			Quod aperiam, eum vero laboriosam quos veritatis, cum
			exercitationem, maiores eveniet libero aspernatur repellat
			asperiores delectus officia est voluptate ducimus. Inventore ducimus
			dignissimos, nemo nesciunt odio eos ipsam nobis explicabo accusamus
			ea harum, saepe sed iusto consectetur doloribus suscipit hic,
			consequuntur illum beatae. Optio numquam nemo similique quam modi
			odio amet quae fugit facilis veritatis? Et amet sint facilis, beatae
			repellat culpa alias ducimus dignissimos ratione, sequi reiciendis
			explicabo, eos est quasi impedit ut vitae quibusdam. Libero maxime
			eum voluptatibus aspernatur atque!
		</p>
	</div>
</main>
<footer>
	<div
		class="text-dark-100 bg-orange-50 px-2 py-10 sm:px-9 md:px-24 lg:px-48"
	>
		<h1 class="text-center">Footer จ้า</h1>
	</div>
</footer>
