<nav aria-label="Page navigation example">
	<ul class="xs:text-sm flex h-8 items-center justify-center -space-x-px text-xs">
		<li>
			<button (click)="changePage(1)" [disabled]="currentPage === 1" class="xs:px-3 ms-0 flex h-8 items-center justify-center rounded-s-lg border border-main-25 px-2 hover:bg-main-15">
				<sdm-icon icon="angles-left"></sdm-icon>
			</button>
		</li>
		<li>
			<button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="xs:px-3 flex h-8 items-center justify-center border border-main-25 px-2 hover:bg-main-15">
				<sdm-icon icon="angle-left"></sdm-icon>
			</button>
		</li>
		<li *ngFor="let page of pagesToShow">
			<button (click)="changePage(page)" [ngClass]="{ 'bg-main-15 text-dark-100': currentPage === page }" class="xs:px-3 flex h-8 items-center justify-center border border-main-25 px-2 hover:bg-main-15">
				{{ page }}
			</button>
		</li>
		<li>
			<button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="xs:px-3 flex h-8 items-center justify-center border border-main-25 px-2 hover:bg-main-15">
				<sdm-icon icon="angle-right"></sdm-icon>
			</button>
		</li>
		<li>
			<button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages" class="xs:px-3 flex h-8 items-center justify-center rounded-e-lg border border-main-25 px-2 hover:bg-main-15">
				<sdm-icon icon="angles-right"></sdm-icon>
			</button>
		</li>
	</ul>
	<div class="mt-2 flex w-full justify-center text-sm text-main-50">หน้า {{ currentPage }} ใน {{ totalPages }}</div>
</nav>
