<div *ngIf="isSigningIn; else signInForm">
	<p class="mt-10 text-center text-xl font-medium text-dark-100">
		กำลังเข้าสู่ระบบ...
	</p>
</div>

<ng-template #signInForm>
	<div class="grid min-h-screen grid-cols-2">
		<div class="flex items-center justify-center bg-orange-50">
			<img
				src="images/auth/signup-signin-boy.png"
				alt="signup-signin-boy"
			/>
		</div>
		<div class="flex items-center justify-center bg-white">
			<div
				class="rounded-[40px] border border-main-25 px-20 py-12 2xl:px-28 2xl:py-24"
			>
				<div class="flex min-h-full w-80 flex-col 2xl:w-96">
					<sdm-studymate-logo></sdm-studymate-logo>
					<h2
						class="my-5 text-center text-xl font-medium text-dark-100"
					>
						เข้าสู่ระบบ StudyMate
					</h2>
					<div>
						<form (ngSubmit)="onSubmit()" [formGroup]="myForm">
							<div class="flex flex-col gap-2">
								<input
									type="email"
									required
									placeholder="64010000@kmitl.ac.th"
									formControlName="email"
									autocomplete="username"
									class="rounded-xl px-4 py-3 text-sm ring-1 ring-main-25 hover:ring-2 hover:ring-main-100 focus:outline-none focus:ring-2 focus:ring-main-100"
								/>
								<input
									type="password"
									required
									placeholder="************"
									formControlName="password"
									autocomplete="current-password"
									class="rounded-xl px-4 py-3 text-sm ring-1 ring-main-25 hover:ring-2 hover:ring-main-100 focus:outline-none focus:ring-2 focus:ring-main-100 disabled:pointer-events-none"
								/>
								<sdm-base-button
									icon="right-to-bracket"
									text="เข้าสู่ระบบ"
									textColor="text-white"
									textColorHover="text-white"
									backgroundColor="bg-main-100"
									backgroundColorHover="bg-main-120"
								>
								</sdm-base-button>
							</div>
							<div class="my-2 flex items-center gap-5">
								<hr class="w-full text-main-25" />
								<span class="text-dark-100">หรือ</span>
								<hr class="w-full text-main-25" />
							</div>
							<sdm-google-button
								[isSignIn]="true"
							></sdm-google-button>
						</form>
						<div
							class="mt-4 flex items-center justify-center gap-3.5"
						>
							<span class="text-center text-sm text-dark-50">
								ยังไม่เป็นสมาชิก?
							</span>
							<a
								routerLink="/sign-up"
								class="text-sm font-semibold text-main-75 hover:text-main-100"
								>สมัครสมาชิก</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
