<div class="grid w-full grid-cols-1 gap-y-10">
	<sdm-subject-detail-cpn
		[subjectDetailData]="eachSubjectData"
		[subjectDetail]="subjectDetail"
	></sdm-subject-detail-cpn>
	<sdm-write-review-box
		[isEdit]="false"
		[signedIn]="signedIn"
		[currentUser]="currentUser"
		[subjectId]="eachSubjectData.subject_id"
		(reviewSuccess)="onReviewSuccess()"
	>
	</sdm-write-review-box>
	<div class="grid w-full grid-cols-1 items-center gap-3">
		<sdm-review-filter
			[subjectReviewData]="subjectReviewData"
			[isLoadingReview]="isLoadingReview"
			[paginationType]="'single'"
			[signedIn]="signedIn"
			[currentUser]="currentUser"
			[prioritizeUserReview]="true"
			(saveEditReview)="onSaveEditReview()"
		></sdm-review-filter>
	</div>
</div>
