<div class="flex w-full flex-col gap-y-5 rounded-[20px] border border-main-25 pb-5">
	<!-- Header Section -->

	<div class="flex w-full items-center gap-x-2 rounded-t-[19px] bg-main-25 p-5 text-base font-semibold">
		<div *ngIf="subjectDetailDescription" class="flex items-center gap-x-2">
			<div>{{ subjectDetailDescription.subject_id }}</div>
			<div>{{ subjectDetailDescription.subject_name_en }}</div>
			<div>{{ subjectDetailDescription.subject_name_th }}</div>
		</div>
		<div *ngIf="subjectDetailData" class="flex items-center gap-x-2">
			<div class="border-1 rounded-[15px] bg-teal-500 px-3 py-1.5 text-xs font-semibold text-white" *ngIf="subjectDetailData?.session_type === 'ทฤษฎี'">
				{{ subjectDetailData.session_type }}
			</div>
			<div class="border-1 rounded-[15px] bg-orange-400 px-3 py-1.5 text-xs font-semibold text-white" *ngIf="subjectDetailData?.session_type === 'ปฏิบัติ'">
				{{ subjectDetailData.session_type }}
			</div>
			<div *ngIf="subjectDetailData?.class_level === '0'" class="border-1 border-dark-100 rounded-[15px] border px-3 py-1.5 text-xs font-semibold">ทุกชั้นปี</div>
			<div *ngIf="subjectDetailData?.class_level != '0'" class="border-1 border-dark-100 rounded-[15px] border px-3 py-1.5 text-xs font-semibold">ปี {{ subjectDetailData.class_level }}</div>
			<div class="border-1 border-dark-100 rounded-[15px] border px-3 py-1.5 text-xs font-semibold">Sec {{ subjectDetailData.section }}</div>
		</div>
	</div>

	<!-- Course Description -->
	<div class="flex w-full flex-col gap-y-2 px-5 text-sm">
		<div class="font-semibold">คำอธิบายรายวิชา</div>
		<ng-container *ngIf="isLoadingDescription; else showData">
			<sdm-loading-skeleton [loadingType]="102"></sdm-loading-skeleton>
		</ng-container>
		<ng-template #showData>
			<div *ngIf="subjectDetailDescription">
				<div class="indent-8">
					{{ subjectDetailDescription.detail_th }}
				</div>
				<div class="indent-8">
					{{ subjectDetailDescription.detail_en }}
				</div>
			</div>
		</ng-template>
	</div>

	<!-- Course Details Section -->
	<div class="flex w-full flex-col gap-y-2 text-sm">
		<ng-container *ngIf="isLoadingData; else showSubjectData">
			<sdm-loading-skeleton [loadingType]="103"></sdm-loading-skeleton>
		</ng-container>
		<ng-template #showSubjectData>
			<div class="grid w-full grid-cols-9 gap-y-5 px-5 text-sm" *ngIf="subjectDetailData">
				<!-- Class Schedule -->
				<div class="col-span-3 flex flex-col gap-y-2 pe-4">
					<div class="font-semibold">วัน-เวลาเรียน</div>
					<div *ngIf="subjectDetailData?.class_datetime && subjectDetailData.class_datetime.length > 1; else noSchedule">
						<div class="flex flex-wrap gap-x-2 gap-y-2">
							<div class="detail-data w-[77px] text-center">
								{{ subjectDetailData.class_datetime[0] }}
							</div>
							<div class="detail-data">
								{{ subjectDetailData.class_datetime[1] }}
							</div>

							<div *ngIf="checkString(subjectDetailData.class_datetime[2]) !== ''" class="detail-data">+ {{ subjectDetailData.class_datetime[2] }}</div>
						</div>
					</div>
					<!-- No Schedule Template -->
					<ng-template #noSchedule>
						<div class="flex">
							<div class="date-box-disabled">
								{{ subjectDetailData.class_datetime }}
							</div>
						</div>
					</ng-template>
				</div>

				<!-- Teachers -->
				<div class="col-span-2 flex flex-col gap-y-2 pe-4">
					<div class="font-semibold">อาจารย์ผู้สอน</div>

					<div class="flex flex-wrap items-center gap-x-2 gap-y-2" *ngIf="subjectDetailData?.teacher_list_th && subjectDetailData.teacher_list_th.length > 0">
						<div *ngFor="let data of subjectDetailData.teacher_list_th.slice(0, 1)" class="detail-data min-w-max">
							{{ data }}
						</div>
						<div class="tooltip" *ngIf="subjectDetailData.teacher_list_th.length > 1">
							<sdm-icon icon="ellipsis" class="text-dark-100 rounded-[15px] bg-orange-50 px-3 py-1.5 hover:cursor-pointer hover:bg-orange-100"></sdm-icon>
							<div class="tooltiptext tooltip-shadow text-dark-100 absolute mt-3 flex max-h-[450px] min-w-max flex-col gap-y-2 overflow-y-auto rounded-[10px] bg-white p-4 text-center">
								<div *ngFor="let teacher of subjectDetailData.teacher_list_th">
									{{ teacher }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Classroom -->
				<div class="col-span-2 flex flex-col gap-y-2">
					<div class="font-semibold">ห้องเรียน</div>
					<div class="flex">
						<div
							[ngClass]="{
								'detail-data': subjectDetailData.room_number !== null,
								'date-box-disabled': subjectDetailData.room_number === null,
							}">
							{{ subjectDetailData.room_number !== null ? subjectDetailData.room_number : 'ไม่ระบุ' }}
						</div>
					</div>
				</div>

				<!-- Subject Category -->
				<div class="col-span-2 flex flex-col gap-y-2">
					<div class="font-semibold">หมวดหมู่วิชา</div>
					<div class="flex">
						<span
							[ngClass]="{
								'detail-data': subjectDetailData.group_name !== 'ไม่ระบุ',
								'date-box-disabled': subjectDetailData.group_name === 'ไม่ระบุ',
							}">
							{{ subjectDetailData.group_name }}
						</span>
					</div>
				</div>

				<!-- Exam Schedule -->
				<div class="col-span-3 flex flex-col gap-y-2">
					<div class="font-semibold">วัน-เวลาสอบ</div>
					<div class="flex flex-col gap-y-1.5">
						<!-- Midterm Exam -->
						<div class="flex items-center gap-x-2" *ngIf="subjectDetailData?.midterm_datetime && subjectDetailData.midterm_datetime.length > 0">
							<div class="date-box bg-red-200">
								{{ subjectDetailData.midterm_datetime[0] }}
							</div>
							<ng-container *ngFor="let item of subjectDetailData.midterm_datetime.slice(1, 3)">
								<div
									[ngClass]="{
										'detail-data': item !== 'ไม่ระบุ',
										'date-box-disabled': item === 'ไม่ระบุ',
									}">
									{{ item }}
								</div>
							</ng-container>
						</div>

						<!-- Final Exam -->
						<div class="flex items-center gap-x-2" *ngIf="subjectDetailData?.final_datetime && subjectDetailData.final_datetime.length > 0">
							<div class="date-box bg-indigo-200">
								{{ subjectDetailData.final_datetime[0] }}
							</div>
							<ng-container *ngFor="let item of subjectDetailData.final_datetime.slice(1, 3)">
								<div
									[ngClass]="{
										'detail-data': item !== 'ไม่ระบุ',
										'date-box-disabled': item === 'ไม่ระบุ',
									}">
									{{ item }}
								</div>
							</ng-container>
						</div>
					</div>
				</div>

				<!-- Credit Details -->
				<div class="col-span-2 flex flex-col gap-y-2">
					<div class="font-semibold">หน่วยกิต (ทฤษฎี-ปฏิบัติ-ค้นคว้า)</div>
					<div class="flex">
						<div class="detail-data">{{ subjectDetailData.subject.credit }}{{ subjectDetailData.credit_lps }}</div>
					</div>
				</div>

				<!-- Building Details -->
				<div class="col-span-1 flex flex-col gap-y-2">
					<div class="font-semibold">ตึกเรียน</div>
					<div class="flex" *ngIf="subjectDetailData.building_name != null">
						<div class="rounded-[15px] bg-orange-50 px-3 py-1.5 text-sm">
							{{ subjectDetailData.building_name }}
						</div>
					</div>
					<div class="flex" *ngIf="subjectDetailData.building_name === null">
						<div class="rounded-[15px] bg-gray-100 px-3 py-1.5 text-sm text-gray-500">ไม่ระบุ</div>
					</div>
				</div>

				<!-- Conditions -->
				<div class="col-span-1 flex flex-col gap-y-2">
					<div class="font-semibold">เงื่อนไข</div>
					<div class="tooltip relative" *ngIf="subjectDetailData.rule !== ''">
						<sdm-icon icon="circle-exclamation" class="h-4 w-4 text-red-400 hover:cursor-pointer hover:text-red-500"> </sdm-icon>
						<div [innerHTML]="subjectDetailData.rule" class="tooltiptext tooltip-shadow text-dark-100 absolute mt-3 flex max-h-[450px] min-w-max flex-col gap-y-2 overflow-y-auto rounded-[10px] bg-white p-4 text-center text-sm"></div>
					</div>
					<div class="flex" *ngIf="subjectDetailData.rule === ''">
						<div class="py-0.3 tooltip relative rounded-[15px] bg-gray-100 px-3 text-sm text-gray-400 hover:bg-gray-200" *ngIf="subjectDetailData.rule === ''">
							-
							<div class="tooltiptext tooltip-shadow text-dark-100 absolute mt-3 flex min-w-max flex-col gap-y-2 rounded-[10px] bg-white p-4 text-center">ไม่มีเงื่อนไข</div>
						</div>
					</div>
				</div>

				<!-- Remarks -->
				<div class="col-span-1 flex flex-col gap-y-2">
					<div class="font-semibold">หมายเหตุ</div>
					<div class="tooltip relative" *ngIf="subjectDetailData.remark !== ''">
						<sdm-icon icon="circle-exclamation" class="h-4 w-4 text-red-400 hover:cursor-pointer hover:text-red-500"> </sdm-icon>
						<div [innerHTML]="subjectDetailData.remark" class="tooltiptext tooltip-shadow text-dark-100 absolute mt-3 max-h-[450px] w-[240px] overflow-y-auto break-words rounded-[10px] bg-white p-4 text-center text-sm"></div>
					</div>
					<div class="flex" *ngIf="subjectDetailData.remark === ''">
						<div class="py-0.3 tooltip relative rounded-[15px] bg-gray-100 px-3 text-sm text-gray-400 hover:bg-gray-200" *ngIf="subjectDetailData.remark === ''">
							-
							<div class="tooltiptext tooltip-shadow text-dark-100 absolute mt-3 min-w-max rounded-[10px] bg-white p-4 text-center">ไม่มีหมายเหตุ</div>
						</div>
					</div>
				</div>

				<!-- Add Button -->
				<!-- <div class="col-span-1 flex items-end justify-end">
					<button
						class="flex h-min w-min items-center gap-x-2 rounded-[15px] bg-main-100 px-3 py-1.5 font-medium hover:bg-main-120"
					>
						<sdm-icon icon="plus" class="text-sm text-white"></sdm-icon>
						<p class="text-sm text-white">เพิ่ม</p>
					</button>
				</div> -->
			</div>
		</ng-template>
	</div>
</div>
