<div>
	<div class="grid w-full flex-none grid-cols-1 gap-2">
		<div class="flex flex-row">
			<div class="text-base font-semibold">
				เขียนรีวิวสำหรับรายวิชานี้
			</div>
			<div class="h-50 w-50 pl-2">
				<sdm-icon
					icon="pen-to-square"
					class="h-full w-full text-dark-100"
				></sdm-icon>
			</div>
		</div>
		<div class="flex flex-row">
			<div class="text-sm font-bold">ให้คะแนนรายวิชานี้</div>
		</div>
		<div class="flex flex-wrap justify-start gap-x-3 gap-y-3">
			<sdm-select
				defaultLabel="ปีการศึกษา"
				SelectName="selectedYear"
				customDdlHeader="text-sm"
				customDdlOptions="text-sm"
				[listOptions]="yearsList"
				(selectedValue)="handleSelectChange('selectedYear', $event)"
				class="h-6 w-32"
			></sdm-select>
			<sdm-select
				defaultLabel="ภาคการศึกษา"
				SelectName="selectedSemester"
				customDdlHeader="text-sm"
				customDdlOptions="text-sm"
				[listOptions]="semesterList"
				(selectedValue)="handleSelectChange('selectedSemester', $event)"
				class="h-6 w-36"
			></sdm-select>
		</div>
	</div>
</div>
