<sdm-announce
	[details]="[
		{ detail: 'ติดตามความคืบหน้าของการเรียนของคุณตามโครงสร้างหลักสูตรได้ง่าย ๆ ทราบว่าเรียนครบแล้วหรือยัง!' },
		{ detail: 'แชร์ประสบการณ์เรียนและอ่านรีวิวจากเพื่อน ๆ เพื่อช่วยในการเลือกวิชาที่ดีที่สุดสำหรับคุณ!' },
		{ detail: 'ค้นหารายวิชาต่าง ๆ ที่ตรงกับความสนใจ และดูรายละเอียดการเปิดสอนอย่างครบถ้วน!'},
		{ detail: 'ใช้เครื่องมือคำนวณเกรดเพื่อประเมินผลการเรียนของคุณในแต่ละภาคการศึกษา!' }
	]">
</sdm-announce>

<div class="mt-8">
	<sdm-let-plan></sdm-let-plan>
</div>

<div class="mx-auto mt-16 grid w-full max-w-7xl grid-cols-1 gap-y-10 px-4 sm:px-6">
	<div class="grid grid-cols-1 items-center justify-items-center gap-y-10 lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40 3xl:gap-x-56">
		<sdm-pic-box-home image="images/home/online-planner-to-do-list-home.png" class="order-1 flex w-full justify-center lg:justify-self-end"></sdm-pic-box-home>
		<sdm-text-box-home
			headerText="ค้นหาวิชาที่ใช่สำหรับคุณ!"
			[listText]="['ค้นหารายวิชาต่าง ๆ ที่คุณสนใจ', 'Filter หารายวิชาต่าง ๆ ตามที่ต้องการ', 'ดูรายละเอียดของรายวิชาต่าง ๆ', 'ตรวจสอบปีการศึกษาและภาคเรียนที่เปิดสอน']"
			class="order-2 flex w-full justify-center lg:justify-self-start"></sdm-text-box-home>
	</div>
	<div class="grid grid-cols-1 items-center justify-items-center gap-y-10 lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40 3xl:gap-x-56">
		<sdm-text-box-home
			headerText="อ่าน & เขียนรีวิวรายวิชา"
			[listText]="['แบ่งปันประสบการณ์เรียนของคุณ','อ่านรีวิวจากนักศึกษาที่เคยลงเรียนจริง', 'ให้คะแนนและแสดงความคิดเห็นเกี่ยวกับรายวิชาที่คุณเคยเรียน']"
			class="order-2 flex w-full justify-center lg:order-1 lg:justify-self-end">
		</sdm-text-box-home>
		<sdm-pic-box-home image="images/home/young-man-pointing-at-rating-window-home.png" class="order-1 flex w-full justify-center lg:order-2 lg:justify-self-start"> </sdm-pic-box-home>
	</div>
	<div class="grid grid-cols-1 items-center justify-items-center gap-y-10 lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40 3xl:gap-x-56">
		<sdm-pic-box-home image="images/home/user-interface-elements-home.png" class="order-1 flex w-full justify-center lg:justify-self-end"> </sdm-pic-box-home>
		<sdm-text-box-home
			headerText="สรุปรายวิชาที่เคยเรียน & คำนวณเกรด"
			[listText]="['อัปโหลดทรานสคริปต์ของคุณเพื่อดูรายวิชาที่เคยเรียน','ตรวจสอบผลการเรียนแยกตามภาคการศึกษา', 'ทดลองคำนวณเกรดเฉลี่ยของคุณ']"
			class="order-2 flex w-full justify-center lg:justify-self-start">
		</sdm-text-box-home>
	</div>
	<div class="grid grid-cols-1 items-center justify-items-center gap-y-10 lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40 3xl:gap-x-56">
		<sdm-text-box-home
			headerText="ติดตามความคืบหน้าของการเรียนของคุณตามโครงสร้างหลักสูตร"
			[listText]="['แสดงรายวิชาที่ลงทะเบียนตามหมวดหมู่ของหลักสูตร','คำนวณหน่วยกิตที่ได้รับและหน่วยกิตที่ยังขาด', 'ดูภาพรวมการเรียนของคุณตลอดหลักสูตร']"
			class="order-2 flex w-full justify-center lg:order-1 lg:justify-self-end">
		</sdm-text-box-home>
		<sdm-pic-box-home image="images/home/checklist with pen.png" containerClass="p-20" class="order-1 flex w-full justify-center lg:order-2 lg:justify-self-start"> </sdm-pic-box-home>
	</div>
</div>

<div class="flex justify-center">
	<p class="mb-36 mt-36 w-9/12 text-center text-3xl font-medium text-dark-100 2xl:w-6/12">ติดตามความก้าวหน้าทางการเรียนของคุณได้ง่าย ๆ เริ่มต้นใช้งาน <b>KMITL StudyMate</b> ได้เลยวันนี้</p>
</div>

<div class="flex h-full flex-wrap justify-center gap-x-12 gap-y-6">
	<sdm-card-home headerText="เรียนวิชาอะไรดี ?" image="images/home/stack-of-books-home.png" buttonText="ค้นหารายวิชา" link="/subject" containerClass="h-96 w-72"></sdm-card-home>
	<sdm-card-home headerText="อยากดูรีวิวรายวิชา" image="images/home/rating-window-chat-home.png" buttonText="ดูรีวิว" link="/review" containerClass="h-96 w-72"></sdm-card-home>
	<sdm-card-home headerText="รายวิชาของฉัน" image="images/home/cat-sitting-on-bookshelf-home.png" buttonText="ดูรายวิชาของฉัน" link="/my-subject" containerClass="h-96 w-72"></sdm-card-home>
	<sdm-card-home headerText="ความคืบหน้าหลักสูตร" image="images/home/document with check mark.png" buttonText="ดูความคืบหน้า" link="/my-subject" containerClass="h-96 w-72" imageClass="p-6"></sdm-card-home>
</div>
