<sdm-announce
	[details]="[{ detail: 'ใกล้จะถึงวันลงทะเบียนเรียนล่วงหน้าแล้ว อย่าลืมมาลงทะเบียนเรียนกันนะ', date: 'จ. 10 มิ.ย. - ศ. 14 มิ.ย. 67' }, { detail: 'ใกล้จะถึงวันประกาศผลลงทะเบียนเรียนล่วงหน้าแล้ว อย่าลืมมาตรวจสอบผลกันนะ', date: 'ศ. 21 มิ.ย. 67' }, { detail: 'ใกล้จะถึงวันลงทะเบียนเรียนปกติแล้ว อย่าลืมมาลงทะเบียนเรียนกันนะ', date: 'จ. 24 มิ.ย. - ศ. 28 มิ.ย. 67' }]"
></sdm-announce>

<!-- <div class="mt-8 flex justify-center">
	<button
		data-modal-target="choose-curriculum-modal"
		data-modal-toggle="choose-curriculum-modal"
		class="rounded-lg bg-main-100 px-3 py-1.5 text-base font-medium text-white hover:bg-main-120"
	>
		Choose Curriculum
	</button>
</div> -->

<sdm-choose-curriculum-modal
	#chooseCurriculumModal
	modalID="choose-curriculum-modal"
	headerModal="เลือกหลักสูตรที่คุณกำลังศึกษา"
></sdm-choose-curriculum-modal>

<div class="mt-8">
	<sdm-let-plan></sdm-let-plan>
</div>

<div
	class="mt-16 grid grid-cols-2 items-center justify-items-center gap-y-16 px-14 2xl:px-20"
>
	<sdm-pic-box-home
		image="images/home/online-planner-to-do-list-home.png"
		class="justify-self-start"
	></sdm-pic-box-home>
	<sdm-text-box-home
		headerText="ตรวจสอบรายวิชาที่ต้องการ"
		[listText]="['ค้นหารายวิชาต่าง ๆ ที่คุณสนใจ', 'Filter หารายวิชาต่าง ๆ ตามที่ต้องการ', 'ดูรายละเอียดของรายวิชาต่าง ๆ', 'ร่วมร้องขอการเปิดรายวิชาที่ต้องการ', 'เพิ่มวิชาที่สนใจลงตารางเรียน']"
		class="flex justify-self-end"
	></sdm-text-box-home>
	<sdm-text-box-home
		headerText="ดูรีวิวรายวิชาต่าง ๆ"
		[listText]="['หารายวิชาที่ต้องการอ่านและเขียนรีวิวได้', 'อ่านรีวิวรายวิชาต่าง ๆ ที่ต้องการ', 'เขียนรีวิวรายวิชาที่คุณเคยลงทะเบียนเรียนไปแล้วได้']"
		class="flex justify-self-start"
	>
	</sdm-text-box-home>
	<sdm-pic-box-home
		image="images/home/young-man-pointing-at-rating-window-home.png"
		class="justify-self-end"
	></sdm-pic-box-home>
	<sdm-pic-box-home
		image="images/home/clock-and-calendar-home.png"
		class="justify-self-start"
	></sdm-pic-box-home>
	<sdm-text-box-home
		headerText="จัดตารางเรียนและวางแผนการเรียนล่วงหน้า"
		[listText]="['ลองจัดตารางเรียนได้หลายรูปแบบ', 'สร้างแผนการเรียนได้หลายรูปแบบ', 'เพิ่ม / ลบ รายวิชาที่ต้องการได้', 'Export ตารางเรียนและแผนการเรียนออกมาได้']"
		class="flex justify-self-end"
	>
	</sdm-text-box-home>
	<sdm-text-box-home
		headerText="สรุปรายวิชาทั้งหมดที่เคยลงทะเบียนเรียนไปแล้ว"
		[listText]="['Import Transcript เข้ามาเพื่อดูสรุปรายวิชาของคุณ', 'แสดงหมวดหมู่รายวิชาตามหลักสูตร', 'บอกจำนวนหน่วยกิตที่ลงไปแล้ว', 'บอกจำนวนหน่วยกิตที่ยังขาด']"
		class="flex justify-self-start"
	>
	</sdm-text-box-home>
	<sdm-pic-box-home
		image="images/home/user-interface-elements-home.png"
		class="justify-self-end"
	></sdm-pic-box-home>
</div>
<div class="flex justify-center">
	<p
		class="mb-36 mt-36 w-9/12 text-center text-3xl font-medium text-dark-100 2xl:w-7/12"
	>
		Make study planning easy. Start your experience with KMITL StudyMate
		now!
	</p>
</div>
<div class="flex justify-between 2xl:justify-center 2xl:gap-x-12 2xl:px-32">
	<sdm-card-home
		headerText="เรียนวิชาอะไรดี ?"
		image="images/home/stack-of-books-home.png"
		buttonText="ค้นหาวิชา"
	></sdm-card-home>
	<sdm-card-home
		headerText="อยากดูรีวิวรายวิชา"
		image="images/home/rating-window-chat-home.png"
		buttonText="ดูรีวิว"
	></sdm-card-home>
	<sdm-card-home
		headerText="ลองจัดตารางเรียน"
		image="images/home/time-management-home.png"
		buttonText="จัดตารางเรียน"
	></sdm-card-home>
	<sdm-card-home
		headerText="รายวิชาของฉัน"
		image="images/home/cat-sitting-on-bookshelf-home.png"
		buttonText="ดูรายวิชา"
	></sdm-card-home>
</div>
