<div class="flex flex-col gap-3 px-4">
	<ng-container *ngFor="let transcriptDetail of transcriptDetails">
		<a
			[href]="getSubjectDetailUrl(transcriptDetail.subject!)"
			target="_blank"
			class="flex flex-col items-start justify-between rounded-xl border border-dark-10 p-3 text-lg transition-all hover:cursor-pointer hover:bg-main-10 min-[1024px]:flex-row min-[1024px]:items-center">
			<!-- ส่วนข้อมูลรายวิชา -->
			<div class="flex w-full flex-row p-2">
				<div class="mr-3 w-2 rounded-xl align-middle max-[600px]:hidden" [style.background-color]="subjectLabelColor"></div>
				<div class="flex w-full flex-col">
					<div class="truncate text-base font-semibold">{{ transcriptDetail.subject?.id }} {{ transcriptDetail.subject?.name_th }}</div>
					<div class="truncate text-xs opacity-50">{{ transcriptDetail.subject?.name_en }}</div>
				</div>
			</div>

			<!-- แสดงข้อมูลเพิ่มเติมเฉพาะหน้าจอที่ไม่ใช่ mobile -->
			<ng-container *ngIf="!showSubjectOnly">
				<div class="flex w-full flex-row gap-3 min-[1024px]:w-auto min-[1024px]:flex-row">
					<div class="flex w-full flex-col items-center gap-1 p-2 min-[1024px]:w-[150px] min-[1024px]:flex-row min-[1024px]:gap-4 min-[1024px]:p-4">
						<span class="text-xs opacity-50">หน่วยกิต</span>
						<span class="text-lg font-semibold text-main-100">{{ transcriptDetail.subject?.credit }}</span>
					</div>
					<div class="flex w-full flex-col items-center gap-1 p-2 min-[1024px]:w-[150px] min-[1024px]:flex-row min-[1024px]:gap-4 min-[1024px]:p-4">
						<span class="text-xs opacity-50">เกรดที่ได้รับ</span>
						<span class="text-lg font-semibold text-main-100">{{ transcriptDetail.grade }}</span>
					</div>
				</div>
			</ng-container>
		</a>
	</ng-container>
</div>
