<div class="mb-3 flex">
	<sdm-base-button icon="right-to-bracket" text="ย้อนกลับ" textColor="text-white" backgroundColor="bg-main-100" backgroundColorHover="bg-main-120" (clickEvent)="navigateToDepartment()"></sdm-base-button>
</div>

<h1 class="mt-5 text-3xl font-semibold">{{ department?.name_th }}</h1>
<h2 class="text-xl opacity-50">{{ department?.name_en }}</h2>

<hr class="my-4" />

<sdm-base-modal #createCurriculumTypeModal modalId="createCurriculumType" header="สร้างประเภทหลักสูตรใหม่" (confirmEvent)="onConfirmCreate()">
	<form [formGroup]="curriculumTypeCreateForm">
		<div class="input-primary mb-5">
			<label for="nameTh">ชื่อประเภทหลักสูตรภาษาไทย</label>
			<input type="text" id="nameTh" formControlName="nameTh" placeholder="ชื่อประเภทหลักสูตรภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameEn">ชื่อประเภทหลักสูตรภาษาอังกฤษ</label>
			<input type="text" id="nameEn" formControlName="nameEn" placeholder="ชื่อประเภทหลักสูตรภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<sdm-base-modal #editCurriculumTypeModal modalId="editCurriculumType" header="แก้ไขประเภทหลักสูตร" (confirmEvent)="onConfirmEdit()">
	<form [formGroup]="curriculumTypeEditForm">
		<div class="input-primary mb-5">
			<label for="editNameTh">ชื่อประเภทหลักสูตรภาษาไทย</label>
			<input type="text" id="editNameTh" formControlName="nameTh" placeholder="ชื่อประเภทหลักสูตรภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameEn">ชื่อประเภทหลักสูตรภาษาอังกฤษ</label>
			<input type="text" id="editNameEn" formControlName="nameEn" placeholder="ชื่อประเภทหลักสูตรภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<div>
	<h1 class="text-2xl font-semibold">เลือกประเภทหลักสูตร</h1>
	<h2>ประเภทหลักสูตรทั้งหมด</h2>
	<div *ngIf="isLoading" class="my-2 text-center">
		<div class="spinner-border animate-spin"></div>
	</div>
	<div *ngIf="!isLoading">
		<div *ngIf="curriculumTypes.length === 0" class="my-2 border p-5">
			<div class="text-center">ไม่มีผลลัพธ์</div>
		</div>
		<div *ngIf="curriculumTypes.length > 0" class="my-2 border p-5">
			<ul class="flex flex-col gap-2">
				<li *ngFor="let curriculumType of curriculumTypes" class="flex items-center justify-between">
					<div (click)="navigateToCurriculum(curriculumType.id)" class="cursor-pointer text-lg hover:text-main-100">
						<div class="font-semibold">{{ curriculumType.name_th }}</div>
						<div class="text-sm opacity-50">{{ curriculumType.name_en }}</div>
					</div>
					<sdm-base-button icon="pen" text="แก้ไข" textColor="text-white" backgroundColor="bg-main-100" backgroundColorHover="bg-main-120" (clickEvent)="onEditCurriculumType(curriculumType)"></sdm-base-button>
				</li>
			</ul>
		</div>
	</div>
	<sdm-base-button icon="plus" text="สร้างประเภทหลักสูตรใหม่" textColor="text-white" backgroundColor="bg-main-100" backgroundColorHover="bg-main-120" (clickEvent)="onCreateCurriculumType()"></sdm-base-button>
</div>
