<div
	[id]="modalID"
	tabindex="-1"
	aria-hidden="true"
	data-modal-backdrop="static"
	class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center"
>
	<div class="relative w-full max-w-xl p-4">
		<div class="max-h-xl relative overflow-y-auto rounded-[20px]">
			<div class="bg-main-100 py-6 text-center">
				<p class="text-xl font-medium text-white">
					{{ headerModal }}
				</p>
			</div>
			<div class="space-y-8 bg-white p-8 text-dark-100">
				<div class="flex w-full items-center justify-center">
					<div
						class="flex h-64 w-full cursor-pointer flex-col items-center justify-center"
					>
						<div
							class="flex flex-col items-center justify-center pb-6 pt-5 font-medium"
						>
							วิศวกรรมคอมพิวเตอร์
						</div>
						<sdm-select
							selectName="หลักสูตรที่คุณกำลังศึกษา"
							class="w-[28rem] h-[56px]"
							[listOptions]="curriculumOptions"
							(selectedValue)="handleSelectedValueChange($event)"
						></sdm-select>
					</div>
				</div>

				<div class="flex justify-end">
					<div class="flex space-x-5 text-base font-medium">
						<button
							[attr.data-modal-hide]="modalID"
							type="submit"
							(click)="onSubmitUserCurriculum()"
							class="w-full rounded-[10px] bg-main-100 px-4 py-2 text-center text-white hover:bg-main-120"
						>
							บันทึก
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
