<div class="mb-3 flex">
	<sdm-base-button
		icon="right-to-bracket"
		text="ย้อนกลับ"
		textColor="text-light"
		textColorHover="hover:text-light"
		backgroundColor="bg-primary-300"
		backgroundColorHover="hover:bg-primary-400"
		(clickEvent)="navigateToDepartment()"></sdm-base-button>
</div>

<h1 class="mt-5 text-3xl font-semibold">{{ department?.name_th }}</h1>
<h2 class="text-xl opacity-50">{{ department?.name_en }}</h2>

<hr class="my-4" />

<sdm-base-modal #createProgramModal modalId="createProgram" header="สร้างแผนการเรียนใหม่" (confirmEvent)="onConfirmCreate()">
	<form [formGroup]="programCreateForm">
		<div class="input-primary mb-5">
			<label for="kmitlId">รหัสอ้างอิงภาควิชาจากสำนักทะเบียน KMITL</label>
			<input type="text" id="kmitlId" formControlName="kmitlId" placeholder="รหัสภาควิชา" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameTh">ชื่อแผนการเรียนภาษาไทย</label>
			<input type="text" id="nameTh" formControlName="nameTh" placeholder="ชื่อแผนการเรียนภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="nameEn">ชื่อแผนการเรียนภาษาอังกฤษ</label>
			<input type="text" id="nameEn" formControlName="nameEn" placeholder="ชื่อแผนการเรียนภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<sdm-base-modal #editProgramModal modalId="editProgram" header="แก้ไขแผนการเรียน" (confirmEvent)="onConfirmEdit()">
	<form [formGroup]="programEditForm">
		<div class="input-primary mb-5">
			<label for="kmitlId">รหัสอ้างอิงภาควิชาจากสำนักทะเบียน KMITL</label>
			<input type="text" id="kmitlId" formControlName="kmitlId" placeholder="รหัสภาควิชา" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameTh">ชื่อแผนการเรียนภาษาไทย</label>
			<input type="text" id="editNameTh" formControlName="nameTh" placeholder="ชื่อแผนการเรียนภาษาไทย" required />
		</div>
		<div class="input-primary mb-5">
			<label for="editNameEn">ชื่อแผนการเรียนภาษาอังกฤษ</label>
			<input type="text" id="editNameEn" formControlName="nameEn" placeholder="ชื่อแผนการเรียนภาษาอังกฤษ" required />
		</div>
	</form>
</sdm-base-modal>

<div>
	<h1 class="text-2xl font-semibold">เลือกแผนการเรียน</h1>
	<h2>แผนการเรียนทั้งหมด</h2>
	<div *ngIf="isLoading" class="my-2 text-center">
		<div class="spinner-border animate-spin"></div>
	</div>
	<div *ngIf="!isLoading">
		<div *ngIf="programs.length === 0" class="my-2 rounded-xl border p-5">
			<div class="text-center">ไม่มีผลลัพธ์</div>
		</div>
		<div *ngIf="programs.length > 0" class="my-2 rounded-xl border p-5">
			<ul class="flex flex-col divide-y">
				<li *ngFor="let program of programs" class="flex items-center justify-between py-2">
					<div (click)="navigateToCurriculum(program.id)" class="cursor-pointer text-lg hover:text-primary-300">
						<div class="font-semibold">({{program.kmitl_id}}) {{ program.name_th }}</div>
						<div class="text-sm opacity-50">{{ program.name_en }}</div>
					</div>

					<div class="flex flex-row gap-2">
						<label class="inline-flex w-full cursor-pointer items-center justify-center gap-x-2 overflow-x-auto rounded-xl border border-gray-300 p-1.5">
							<input type="checkbox" class="peer sr-only" (change)="checkShowProgram()" [checked]="" />
							<div
								class="peer relative h-7 w-14 rounded-full bg-gray-200 after:absolute after:start-[4px] after:top-0.5 after:h-6 after:w-6 after:rounded-full after:border after:border-gray-200 after:bg-white after:transition-all after:content-[''] peer-checked:bg-main-100 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rtl:peer-checked:after:-translate-x-full"></div>
							<div class="mr-2 text-sm font-medium text-dark-100">แสดงในระบบ</div>
						</label>

						<sdm-base-button
							icon="pen"
							text="แก้ไข"
							textColor="text-light"
							textColorHover="hover:text-light"
							backgroundColor="bg-warning-300"
							backgroundColorHover="hover:bg-warning-400"
							(clickEvent)="onEditProgram(program)"></sdm-base-button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<sdm-base-button
		icon="plus"
		text="สร้างแผนการเรียนใหม่"
		textColor="text-light"
		textColorHover="hover:text-light"
		backgroundColor="bg-primary-300"
		backgroundColorHover="hover:bg-primary-400"
		(clickEvent)="onCreateProgram()"></sdm-base-button>
</div>
