<div id="curriculumModal" data-modal-backdrop="static" tabindex="-1" class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0">
	<div class="relative max-h-full w-full max-w-xl p-4">
		<div class="relative rounded-lg bg-white shadow">
			<div class="flex items-center justify-between rounded-t border-b p-4">
				<h3 class="text-lg font-semibold text-gray-900">กรุณาเลือกหลักสูตรเพื่อใช้งานเว็บไซต์</h3>
			</div>
			<div class="p-4 md:p-5">
				<p class="mb-4 text-gray-500">กรุณาเลือกหลักสูตรในสาขาวิศวกรรมคอมพิวเตอร์เพื่อใช้เว็บไซต์ของเรา</p>
				<div>
					<form class="mb-5" [formGroup]="dropdownForm">
						<div class="flex flex-col gap-y-6">
							<div class="input-primary">
								<label for="faculty">เลือกคณะ</label>
								<select id="faculty" formControlName="faculty" class="w-full max-w-full overflow-hidden text-ellipsis whitespace-nowrap">
									<option value="" disabled>กรุณาเลือกคณะ</option>
									<option *ngFor="let faculty of faculties" [value]="faculty.id">{{ faculty.name_th }}</option>
								</select>
							</div>
							<div class="input-primary">
								<label for="department">เลือกภาควิชา</label>
								<select id="department" formControlName="department" class="w-full max-w-full overflow-hidden text-ellipsis whitespace-nowrap">
									<option value="" disabled>กรุณาเลือกภาควิชา</option>
									<option *ngIf="departments.length === 0" value="" disabled>ไม่พบข้อมูล</option>
									<option *ngFor="let department of departments" [value]="department.id">{{ department.name_th }}</option>
								</select>
							</div>
							<div class="input-primary">
								<label for="program">เลือกแผนการเรียน</label>
								<select id="program" formControlName="program" class="w-full max-w-full overflow-hidden text-ellipsis whitespace-nowrap">
									<option value="" disabled>กรุณาเลือกแผนการเรียน</option>
									<option *ngIf="programs.length === 0" value="" disabled>ไม่พบข้อมูล</option>
									<option *ngFor="let program of programs" [value]="program.id">{{ program.name_th }}</option>
								</select>
							</div>
							<div class="input-primary">
								<label for="curriculum">เลือกหลักสูตร</label>
								<select id="curriculum" formControlName="curriculum" class="w-full max-w-full overflow-hidden text-ellipsis whitespace-nowrap">
									<option value="" disabled>กรุณาเลือกหลักสูตร</option>
									<option *ngIf="curriculums.length === 0" value="" disabled>ไม่พบข้อมูล</option>
									<option *ngFor="let curriculum of curriculums" [value]="curriculum.id" class="overflow-hidden text-ellipsis whitespace-nowrap">หลักสูตรปี {{ curriculum.year }} - {{ curriculum.name_th }}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="basis flex gap-2">
					<ng-container *ngIf="isCancelable">
						<div class="w-1/2">
							<sdm-base-button
								text="เลือกหลักสูตรดังกล่าว"
								textColor="text-light"
								textColorHover="hover:text-light"
								backgroundColor="bg-primary-300"
								backgroundColorHover="hover:bg-primary-400"
								(clickEvent)="selectCurriculum()" />
						</div>
						<div class="w-1/2">
							<sdm-base-button text="ยกเลิก" textColor="text-light" textColorHover="hover:text-light" backgroundColor="bg-danger-300" backgroundColorHover="hover:bg-danger-400" (clickEvent)="toggleModalVisibility(false)" />
						</div>
					</ng-container>
					<div *ngIf="!isCancelable">
						<sdm-base-button text="เลือกหลักสูตรดังกล่าว" textColor="text-light" textColorHover="hover:text-light" backgroundColor="bg-primary-300" backgroundColorHover="hover:bg-primary-400" (clickEvent)="selectCurriculum()" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
