/* Global CSS file
If not necessary, do not add anything in this file please.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}
body {
    /* font-family: Roboto, 'Helvetica Neue', sans-serif; */
    font: IBM Plex Sans Thai;
    background-color: #ffffff;
}
