/* Global CSS file
If not necessary, do not add anything in this file please.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}
body {
    /* font-family: Roboto, 'Helvetica Neue', sans-serif; */
    font: IBM Plex Sans Thai;
    background-color: #ffffff;
}

/* background-color */
.bg-white {
    background-color: #ffffff;
}
.bg-main-100 {
    background-color: rgba(77, 116, 203, 1);
}
.bg-main-50 {
    background-color: rgba(77, 116, 203, 0.5);
}
.bg-main-25 {
    background-color: rgba(77, 116, 203, 0.25);
}
.bg-main-15 {
    background-color: rgba(77, 116, 203, 0.15);
}
.bg-main-10 {
    background-color: rgba(77, 116, 203, 0.10);
}
.bg-main-5 {
    background-color: rgba(77, 116, 203, 0.5);
}
.bg-dark-100 {
    background-color: rgba(38, 40, 69, 1);
}
.bg-dark-75 {
    background-color: rgba(38, 40, 69, 0.75);
}
.bg-dark-50 {
    background-color: rgba(38, 40, 69, 0.5);
}

/* text-color */
.text-white {
    color: #ffffff;
}
.text-main-100 {
    color: rgba(77, 116, 203, 1);
}
.text-main-50 {
    color: rgba(77, 116, 203, 0.5);
}
.text-main-25 {
    color: rgba(77, 116, 203, 0.25);
}
.text-main-15 {
    color: rgba(77, 116, 203, 0.15);
}
.text-main-10 {
    color: rgba(77, 116, 203, 0.10);
}
.text-main-5 {
    color: rgba(77, 116, 203, 0.5);
}
.text-dark-100 {
    color: rgba(38, 40, 69, 1);
}
.text-dark-75 {
    color: rgba(38, 40, 69, 0.75);
}
.text-dark-50 {
    color: rgba(38, 40, 69, 0.5);
}