<div [id]="accordionId" data-accordion="collapse" data-active-classes="text-dark-100" data-inactive-classes="text-dark-100">
	<h2 [id]="accordionId + '-heading'" class="border-main-50 p-4 hover:bg-main-10" [class.border-b]="!isExpanded">
		<button type="button" class="flex w-full items-center justify-between gap-3" [attr.data-accordion-target]="'#' + accordionId + '-body'" [attr.aria-expanded]="accordionDefaultStatus" [attr.aria-controls]="accordionId + '-body'" (click)="isExpanded = !isExpanded">
			<div class="flex flex-col items-start">
				<div class="text-base font-semibold">{{ header }}</div>
				<div class="text-sm opacity-50">{{ subHeader }}</div>
			</div>
			<div class="flex items-center">
				<svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
				</svg>
			</div>
		</button>
	</h2>
	<div [id]="accordionId + '-body'" class="mb-5 hidden" [attr.aria-labelledby]="accordionId + '-heading'">
		<ng-content></ng-content>
	</div>
</div>
