<div
	class="border-1 rounded-[20px] border border-main-25 bg-white p-6 text-dark-100"
>
	<div class="flex flex-col gap-y-6">
		<div class="flex flex-col border-b border-main-25 pb-5">
			<div class="flex flex-row flex-wrap items-center gap-x-3">
				<!-- Header Section -->
				<a
					class="text-lg font-semibold hover:cursor-pointer"
					[href]="getSubjectDetailUrl()"
					target="_blank"
				>
					{{ subjectCardData.subject_id }}
					{{ subjectCardData.subject_name_en }} [{{
						subjectCardData.credit
					}}
					หน่วยกิต]
				</a>
				<div
					class="border-1 rounded-[15px] bg-lime-500 px-3 py-1.5 text-xs font-semibold text-white"
					*ngIf="subjectCardData.lect_or_prac === 'ทฤษฎี'"
				>
					{{ subjectCardData.lect_or_prac }}
				</div>
				<div
					class="border-1 rounded-[15px] bg-orange-400 px-3 py-1.5 text-xs font-semibold text-white"
					*ngIf="subjectCardData.lect_or_prac === 'ปฏิบัติ'"
				>
					{{ subjectCardData.lect_or_prac }}
				</div>
			</div>
			<div class="flex flex-col gap-y-2">
				<div class="text-sm text-red-500">
					{{ subjectCardData.subject_type_name_th }}
				</div>
				<div class="flex flex-row flex-wrap items-center gap-x-3">
					<div class="rounded-[15px] bg-main-15 px-3 py-1.5 text-xs">
						{{ subjectCardData.subject_type_name }}
					</div>
					<div
						*ngIf="subjectCardData.classLevel === '0'"
						class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
					>
						ทุกชั้นปี
					</div>
					<div
						*ngIf="subjectCardData.classLevel != '0'"
						class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
					>
						ปี {{ subjectCardData.classLevel }}
					</div>
					<div
						class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
					>
						Sec {{ subjectCardData.section }}
					</div>
				</div>
			</div>
		</div>

		<!-- Course Details Section -->
		<div class="grid grid-cols-8 gap-y-5">
			<!-- Class Schedule -->
			<div class="col-span-3 flex flex-col gap-y-2 pe-4">
				<div class="font-normal">วัน-เวลาเรียน</div>
				<div
					*ngIf="
						subjectCardData.classdatetime.length > 1;
						else noSchedule
					"
				>
					<div class="flex flex-wrap gap-x-2 gap-y-2">
						<div class="detail-data w-[77px] text-center">
							{{ subjectCardData.classdatetime[0] }}
						</div>
						<div class="detail-data">
							{{ subjectCardData.classdatetime[1] }}
						</div>

						<div
							*ngIf="
								checkString(
									subjectCardData.classdatetime[2]
								) !== ''
							"
							class="detail-data"
						>
							+ {{ subjectCardData.classdatetime[2] }}
						</div>
					</div>
				</div>
				<!-- No Schedule Template -->
				<ng-template #noSchedule>
					<div class="flex">
						<div class="date-box-disabled">
							{{ subjectCardData.classdatetime }}
						</div>
					</div>
				</ng-template>
			</div>

			<!-- Teachers -->
			<div class="col-span-3 flex flex-col gap-y-2 pe-4">
				<div class="font-normal">อาจารย์ผู้สอน</div>
				<div
					class="flex flex-row flex-wrap items-center gap-x-2 gap-y-2"
				>
					<div
						*ngFor="
							let data of subjectCardData.teacher_list_th.slice(
								0,
								1
							)
						"
						class="detail-data min-w-max"
					>
						{{ data }}
					</div>
					<div
						class="tooltip"
						*ngIf="subjectCardData.teacher_list_th.length > 1"
					>
						<sdm-icon
							icon="ellipsis"
							class="rounded-[15px] bg-orange-50 px-3 py-1 text-dark-100 hover:bg-orange-100"
						></sdm-icon>
						<div
							class="tooltiptext tooltip-shadow absolute mt-3 flex min-w-max flex-col gap-y-2 rounded-[10px] bg-white p-4 text-center text-dark-100"
						>
							<div
								*ngFor="
									let teacher of subjectCardData.teacher_list_th
								"
							>
								{{ teacher }}
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Classroom -->
			<div class="col-span-1 -ms-12 flex flex-col gap-y-2">
				<div class="font-normal">ห้องเรียน</div>
				<div class="flex">
					<div
						[ngClass]="{
							'detail-data': subjectCardData.room_no !== null,
							'date-box-disabled':
								subjectCardData.room_no === null,
						}"
					>
						{{
							subjectCardData.room_no !== null
								? subjectCardData.room_no
								: 'ไม่ระบุ'
						}}
					</div>
				</div>
			</div>

			<!-- Building Details -->
			<div class="col-span-1 -ms-12 flex flex-col gap-y-2">
				<div class="font-normal">ตึกเรียน</div>
				<div
					class="flex flex-row"
					*ngIf="subjectCardData.classbuilding != null"
				>
					<div class="detail-data text-center text-sm">
						{{ subjectCardData.classbuilding }}
					</div>
				</div>
				<div
					class="flex flex-row"
					*ngIf="subjectCardData.classbuilding === null"
				>
					<div class="date-box-disabled">ไม่ระบุ</div>
				</div>
			</div>

			<!-- Conditions -->
			<div class="col-span-1 flex flex-col gap-y-2">
				<div class="font-normal">เงื่อนไข</div>
				<div
					class="tooltip relative"
					*ngIf="subjectCardData.rule !== ''"
				>
					<sdm-icon
						icon="circle-exclamation"
						class="h-4 w-4 text-red-400 hover:text-red-500"
					>
					</sdm-icon>
					<div
						[innerHTML]="subjectCardData.rule"
						class="tooltiptext tooltip-shadow absolute mt-3 flex min-w-max flex-col gap-y-2 rounded-[10px] bg-white p-4 text-center text-dark-100"
					></div>
				</div>
				<div class="flex" *ngIf="subjectCardData.rule === ''">
					<div
						class="py-0.3 tooltip relative rounded-[15px] bg-gray-100 px-3 text-sm text-gray-400 hover:bg-gray-200"
						*ngIf="subjectCardData.rule === ''"
					>
						-
						<div
							class="tooltiptext tooltip-shadow absolute mt-3 flex min-w-max flex-col gap-y-2 rounded-[10px] bg-white p-4 text-center text-dark-100"
						>
							ไม่มีเงื่อนไข
						</div>
					</div>
				</div>
			</div>

			<!-- Review Score -->
			<div class="col-span-2 flex flex-col gap-y-2">
				<div class="font-normal">คะแนนรีวิว</div>
				<div class="flex items-center gap-x-1">
					<sdm-rating
						mode="display"
						[rating]="subjectCardData.rating"
						customClass="text-sm text-main-100"
					></sdm-rating>
					<span class="text-sm text-dark-100">{{
						subjectCardData.rating
					}}</span>
					<span class="text-sm text-dark-100">({{ 0 }} รีวิว)</span>
				</div>
			</div>

			<!-- Interesed Subject -->
			<div class="col-span-4 flex flex-col gap-y-1">
				<div class="font-normal">นักศึกษาที่ขอเปิดรายวิชา</div>
				<div class="flex flex-row items-center gap-x-2 text-sm">
					<sdm-icon
						icon="hand-holding-heart"
						class="text-lg text-main-100"
					></sdm-icon>
					<div>{{ subjectCardData.interested }} คน</div>
				</div>
			</div>

			<!-- Add Button -->
			<div class="col-span-1 flex flex-row items-end justify-end">
				<button
					class="col-end-16 flex h-min w-min flex-row items-center justify-end gap-x-2 rounded-[15px] bg-main-100 px-3 py-1.5 font-medium hover:bg-main-120"
				>
					<sdm-icon icon="plus" class="text-sm text-white"></sdm-icon>
					<p class="text-sm text-white">เพิ่ม</p>
				</button>
			</div>
		</div>
	</div>
</div>
