<div
	class="border-1 rounded-[20px] border border-main-25 bg-white p-6 text-dark-100"
>
	<div class="flex flex-col gap-y-6">
		<div class="flex flex-col border-b border-main-25 pb-5">
			<div class="flex flex-row flex-wrap items-center gap-x-3">
				<!-- <div class="text-lg font-semibold text-main-100">
					{{ index }}
				</div> -->
				<div class="text-lg font-semibold hover:cursor-pointer">
					{{ subjectCardData.subject_id }}
					{{ subjectCardData.subject_name_en }} [{{
						subjectCardData.credit
					}}
					หน่วยกิต]
				</div>
				<div class="rounded-[15px] bg-main-15 px-3 py-1.5 text-xs">
					{{ subjectCardData.subject_type_name }}
				</div>
				<div
					*ngIf="subjectCardData.classLevel === '0'"
					class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
				>
					ทุกชั้นปี
				</div>
				<div
					*ngIf="subjectCardData.classLevel != '0'"
					class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
				>
					ปี {{ subjectCardData.classLevel }}
				</div>
				<div
					class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
				>
					Sec {{ subjectCardData.section }}
				</div>
			</div>
			<div
				class="text-lg font-semibold hover:cursor-pointer"
				(click)="seeDetailSubject()"
			>
				{{ subjectCardData.subject_id }}
				{{ subjectCardData.subject_name_en }} [{{
					subjectCardData.credit
				}}
				หน่วยกิต]
			</div>
			<div class="rounded-[15px] bg-main-15 px-3 py-1.5 text-xs">
				{{ subjectCardData.subject_type_name }}
			</div>
			<div
				class="border-1 rounded-[15px] border border-main-50 px-3 py-1.5 text-xs"
			>
				Sec {{ subjectCardData.section }}
				<div class="text-sm text-red-500">
					{{ subjectCardData.subject_type_name_th }}
				</div>
			</div>
			<div class="grid grid-cols-8 gap-y-5">
				<div class="col-span-3 flex flex-col gap-y-2 pe-4">
					<div class="font-normal">วัน-เวลาเรียน</div>
					<div
						class="flex flex-row flex-wrap gap-x-2 gap-y-2 text-sm"
					>
						<div
							class="w-[77px] rounded-[15px] bg-orange-50 px-3 py-1.5 text-center"
						>
							{{ subjectCardData.classdatetime[0] }}
						</div>
						<div class="rounded-[15px] bg-orange-50 px-3 py-1.5">
							{{ subjectCardData.classdatetime[1] }}
						</div>
						<div
							*ngIf="
								checkString(subjectCardData.classdatetime[2]) !=
								''
							"
							class="rounded-[15px] bg-orange-50 px-3 py-1.5"
						>
							+ {{ subjectCardData.classdatetime[2] }}
						</div>
					</div>
				</div>
				<div class="col-span-2 flex flex-col gap-y-2 pe-4">
					<div class="font-normal">อาจารย์ผู้สอน</div>
					<div
						class="flex flex-row flex-wrap gap-x-2 gap-y-2 text-sm"
					>
						<div
							*ngFor="
								let data of subjectCardData.teacher_list_th.slice(
									0,
									2
								)
							"
							class="min-w-max rounded-[15px] bg-orange-50 px-3 py-1.5"
						>
							{{ data }}
						</div>
						<sdm-icon
							*ngIf="subjectCardData.teacher_list_th.length > 2"
							icon="ellipsis"
							class="rounded-[15px] bg-orange-50 px-3 py-1.5 text-dark-100"
						></sdm-icon>
					</div>
				</div>
				<div class="col-span-1 flex flex-col gap-y-2">
					<div class="font-normal">ห้องเรียน</div>
					<div
						class="flex flex-row"
						*ngIf="subjectCardData.room_no != null"
					>
						<div
							class="rounded-[15px] bg-orange-50 px-3 py-1.5 text-sm"
						>
							{{ subjectCardData.room_no }}
						</div>
					</div>
					<div
						class="flex flex-row"
						*ngIf="subjectCardData.room_no === null"
					>
						<div
							class="rounded-[15px] bg-gray-100 px-3 py-1.5 text-sm text-gray-500"
						>
							ไม่ระบุ
						</div>
					</div>
				</div>
				<div class="col-span-2 flex flex-col gap-y-2">
					<div class="font-normal">ตึกเรียน</div>
					<div
						class="flex flex-row"
						*ngIf="subjectCardData.classbuilding != null"
					>
						<div
							class="rounded-[15px] bg-orange-50 px-3 py-1.5 text-sm"
						>
							{{ subjectCardData.classbuilding }}
						</div>
					</div>
					<div
						class="flex flex-row"
						*ngIf="subjectCardData.classbuilding === null"
					>
						<div
							class="rounded-[15px] bg-gray-100 px-3 py-1.5 text-sm text-gray-500"
						>
							ไม่ระบุ
						</div>
					</div>
				</div>
				<div class="col-span-1 flex flex-col gap-y-2">
					<div class="font-normal">เงื่อนไข</div>
					<div
						class="tooltip relative"
						*ngIf="subjectCardData.rule !== ''"
					>
						<sdm-icon
							icon="circle-exclamation"
							class="tooltip h-4 w-4 text-red-400 hover:text-red-500"
						>
						</sdm-icon>
						<div
							[innerHTML]="subjectCardData.rule"
							class="tooltiptext tooltip-shadow absolute mt-3 flex min-w-max flex-col gap-y-2 rounded-[10px] bg-white p-4 text-center text-dark-100"
						></div>
					</div>
					<div
						class="flex flex-row"
						*ngIf="subjectCardData.rule === ''"
					>
						<div
							class="py-0.3 tooltip relative rounded-[15px] bg-gray-100 px-3 text-sm text-gray-400"
							*ngIf="subjectCardData.rule === ''"
						>
							-
							<div
								class="tooltiptext tooltip-shadow absolute mt-3 flex min-w-max flex-col gap-y-2 rounded-[10px] bg-white p-4 text-center text-dark-100"
							>
								ไม่มีเงื่อนไข
							</div>
						</div>
					</div>
				</div>
				<div class="col-span-2 flex flex-col gap-y-2">
					<div class="font-normal">คะแนนรีวิว</div>
					<div class="flex flex-row flex-wrap gap-x-2 text-sm">
						<div class="flex flex-row gap-x-1">
							<sdm-icon
								icon="star"
								class="text-main-100"
							></sdm-icon>
							<sdm-icon
								icon="star"
								class="text-main-100"
							></sdm-icon>
							<sdm-icon
								icon="star"
								class="text-main-100"
							></sdm-icon>
							<sdm-icon
								icon="star"
								class="text-main-100"
							></sdm-icon>
							<sdm-icon
								icon="star"
								class="text-main-100"
							></sdm-icon>
						</div>
						<div>
							{{ subjectCardData.rating }}
						</div>
						<div>(1.1พันคน)</div>
						<!-- <div>1/5 review</div> -->
					</div>
				</div>
				<div class="col-span-4 flex flex-col gap-y-1">
					<div class="font-normal">นักศึกษาที่ขอเปิดรายวิชา</div>
					<div class="flex flex-row items-center gap-x-2 text-sm">
						<sdm-icon
							icon="hand-holding-heart"
							class="text-lg text-main-100"
						></sdm-icon>
						<div>{{ subjectCardData.interested }} คน</div>
					</div>
				</div>
				<div class="flex flex-row items-end justify-end">
					<button
						class="col-end-16 col-span-1 flex h-min w-min flex-row items-center justify-end gap-x-2 rounded-[15px] bg-main-100 px-3 py-1.5 font-medium hover:bg-main-120"
					>
						<sdm-icon
							icon="plus"
							class="text-sm text-white"
						></sdm-icon>
						<p class="text-sm text-white">เพิ่ม</p>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
