@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.tooltip {
		display: inline-block;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		z-index: 10;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.tooltip-shadow {
		box-shadow: 0 0 6px 0 rgb(0 0 0 / 0.1);
	}

	.date-box {
		@apply rounded-[15px] px-3 py-1.5 text-center;
	}

	.date-box-disabled {
		@apply rounded-[15px] bg-gray-100 px-3 py-1.5 text-sm text-gray-500;
	}

	.detail-data {
		@apply rounded-[15px] bg-orange-50 px-3 py-1.5;
	}
}
