<div class="grid grid-cols-3 gap-4">
	<div>
		<h1 class="mb-5">คัดกรองเพิ่มเติม</h1>
	</div>
	<div class="col-span-2">
		<h1 class="mb-5">ค้นหารายวิชาเรียน</h1>

		<!-- Searchings -->
		<div>
			<form class="mb-5" [formGroup]="searchDropdownForm">
				<div class="grid grid-cols-3 gap-x-4 gap-y-6">
					<div class="input-primary">
						<label for="academic_year">เลือกปีการศึกษา</label>
						<select id="academic_year" formControlName="academic_year">
							<option value="" disabled>กรุณาเลือกปีการศึกษา</option>
							<option value="2567">2567</option>
							<option value="2566">2566</option>
							<option value="2565">2565</option>
							<option value="2564">2564</option>
						</select>
					</div>
					<div class="input-primary">
						<label for="academic_term">เลือกภาคการศึกษา</label>
						<select id="academic_term" formControlName="academic_term">
							<option value="" disabled>กรุณาเลือกภาคการศึกษา</option>
							<option value="1">ภาคเรียนที่ 1</option>
							<option value="2">ภาคเรียนที่ 2</option>
							<option value="3">ภาคเรียนที่ 3</option>
						</select>
					</div>
					<div class="input-primary">
						<label for="year">เลือกชั้นปี</label>
						<select id="year" formControlName="year">
							<option value="" disabled>กรุณาเลือกชั้นปี</option>
							<option value="0">ทุกชั้นปี</option>
							<option value="1">ปี 1</option>
							<option value="2">ปี 2</option>
							<option value="3">ปี 3</option>
							<option value="4">ปี 4</option>
						</select>
					</div>
					<div class="input-primary">
						<label for="faculty">เลือกคณะ</label>
						<select id="faculty" formControlName="faculty">
							<option value="" disabled>กรุณาเลือกคณะ</option>
							<option value="0">ทุกชั้นปี</option>
						</select>
					</div>
					<div class="input-primary">
						<label for="department">เลือกภาควิชา</label>
						<select id="department" formControlName="department">
							<option value="" disabled>กรุณาเลือกภาควิชา</option>
							<option value="0">ทุกชั้นปี</option>
						</select>
					</div>
					<div class="input-primary">
						<label for="curriculum">เลือกหลักสูตร</label>
						<select id="curriculum" formControlName="curriculum">
							<option value="" disabled>กรุณาเลือกหลักสูตร</option>
							<option value="0">ทุกชั้นปี</option>
						</select>
					</div>
				</div>
			</form>
			<form [formGroup]="searchForm">
				<div class="input-primary">
					<label for="query">ค้นหา</label>
					<input type="search" id="query" placeholder="กรุณาพิมพ์คำค้นหา ชื่อวิชา, รหัสวิชา" formControlName="query" />
				</div>
			</form>
		</div>

		<hr />

		<!-- Show Subject Cards-->
		<div>
			<div class="text-center" *ngIf="queriedSubjectCards.length === 0">- ไม่พบข้อมูลรายวิชาเรียน -</div>
			<div *ngIf="queriedSubjectCards.length !== 0">
				<div *ngFor="let subjectCard of queriedSubjectCards"></div>
			</div>
		</div>
	</div>
</div>
